.select2-selection--single {
  background-color: rgba(81, 40, 167, 0.23);
  height: 47px;
  padding: @input-padding;
  padding-top: 0;
  padding-bottom: 0;
  .big-shade;
  .radius(4px);

  .select2-selection__rendered {
    color: #fff;
    padding: 0;
    line-height: 47px;  
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-right: 10px;
  }

  .select2-selection__placeholder {
    color: rgba(255, 255, 255, 0.5);
  }

  .select2-selection__arrow {
    height: 47px;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    text-align: center;
    line-height: 47px;

    b {
      font-size: 10px;
      color: rgba(255, 255, 255, 0.5);

      &:before{
        content: @icon-angle-down;
      }

      &:extend(.icon);
    }
  }
}

&[dir="rtl"] {
  .select2-selection--single {
    .select2-selection__clear {
      float: left;
    }

    .select2-selection__arrow {
      border: none;

      border-radius: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;

      left: 1px;
      right: auto;
    }
  }
}

&.select2-container--open {
  .select2-selection--single {
    .select2-selection__arrow {
      background: transparent;

      border: none;

      b {
        border-color: transparent transparent #888 transparent;
        border-width: 0 4px 5px 4px;
      }
    }
  }

  &.select2-container--above {
    .select2-selection--single {
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &.select2-container--below {
    .select2-selection--single {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
