@import "../../mixins/_gradients";

.select2-container--purple {
  @import "_single";
  @import "_multiple";

  .select2-search--dropdown {
    .select2-search__field {
        .placeholder({ color: rgba(255, 255, 255, 0.5) });
    }
  }

  .select2-search--inline {
    .select2-search__field {
      outline: 0;
      box-shadow: none;
      margin-top: 0;
      padding: 14px 0;
      .placeholder({ color: rgba(255, 255, 255, 0.5) });
    }
  }

  .select2-dropdown {
    background-color: #9f4aa2;
  }

  .select2-dropdown--above {
    border-bottom: none;
  }

  .select2-dropdown--below {
    border-top: none;
  }

  .select2-results > .select2-results__options {
    max-height: 129px;
    overflow-y: auto;
  }

  .select2-results__option {
    padding: 12px;

    &[role=group] {
      padding: 0;
    }

    &[aria-disabled=true] {
      
    }

    &[aria-selected="true"]{
      display: none;
    }
  }

  .select2-results__option--highlighted[aria-selected] {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
  }

  &.select2-container--open .select2-dropdown {
   
  }
}
