.order_inner_map_close{
    position: absolute;
    right: 0;
    line-height: 38px;
    width: 40px;
    height: 40px;
    z-index: 1000;
    text-align: center;
    background: #fff;
    border-radius: 0 0 0 50%;
    font-size: 26px;
    box-shadow: 0 0 5px;
    cursor: pointer;
}

.order_inner_main_map{
    display: none;
    z-index: 1000;
    display: none;
    height: 80%;
    width: 79%;
    background-color: rgb(204, 204, 204);
    box-shadow: 0 0 10px;
    position: fixed;
    overflow: hidden;
}

