.leaflet-popup-content{
	width: 200px;
	height: 200px;
}

.leaflet-popup.leaflet-zoom-animated{
	left: -130px;
}

.cats__item_inner {
    display: block;
    color: #6b37a8;
    background: #fff;
    border: 2px solid #6b37a8;
    padding: 15% 10px;
    cursor: pointer;
}

.cats__item_inner i {
    font-size: 72px;
}