@import "../../mixins/_gradients";

.select2-container--white {
  @import "_single";
  @import "_multiple";

  .select2-search--dropdown {
    .select2-search__field {
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        .placeholder({ color: #847f7f });
    }
  }

  .select2-search--inline {
    .select2-search__field {
      outline: 0;
      box-shadow: none;
      margin-top: 0;
      padding: 14px 0;
      .placeholder({ color: #847f7f });
    }
  }

  .select2-dropdown {
    background-color: #fff;
    .small-shade;
  }

  .select2-dropdown--above {
    border-bottom: none;
  }

  .select2-dropdown--below {
    border-top: none;
  }

  .select2-results > .select2-results__options {
    max-height: 129px;
    overflow-y: auto;
    color: #847f7f;
  }

  .select2-results__option {
    padding: 12px;

    &[role=group] {
      padding: 0;
    }

    &[aria-disabled=true] {
      
    }

    &[aria-selected="true"]{
      display: none;
    }
  }

  .select2-results__option--highlighted[aria-selected] {
    background-color: rgba(0, 0, 0, 0.04);
    color: #232323;
  }

  .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
  }

  &.select2-container--open .select2-dropdown {
   
  }
}
