.sidebar{
	float: left;
	width: 220px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #212330;
	z-index: 99;
	margin-top: 60px;
	overflow-x: hidden;

	// Minimized navbar

	&__label{
		font-size: 10px;
		padding: 17px 0 0 17px;
		color: rgba(255, 255, 255, 0.5);
	}

	&__nav{
		list-style: none;
	}

	&__list{
		&--active{
			> a{
				background-color: rgba(255, 255, 255, 0.1); 
				color: #fff;

				&:after{
					display: block;
				}
			}	

			.sidebar__caret{
				.rotate(90deg);
			}

			.sidebar__list--active > a{
				color: #fff;
				background: transparent;

				&:after{
					display: none;
				}
			}
		}
	}

	&__link{
		display: block;
		color: rgba(255, 255, 255, 0.7);
		font-size: 14px;
		padding: 10px 17px;
		position: relative;
		font-weight: 300;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

		// For dropdown links different style

		&--dropdown{
			padding: 5px 0 5px 34px;

			&:before{
				content: "\f10c";
				width: 6px;
				height: 17px;
				display: inline-block;
				.font-awesome();
				font-size: 6px;
				vertical-align: middle;
				line-height: 17px;
			}

			.sidebar__text{
				padding-left: 5px;
			}
		}

		&:hover{
			text-decoration: none;
			color: rgba(255, 255, 255, 1);
		}

		&:after{
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			margin-top: -6px;
			width: 0;
			height: 0;
			border-color: transparent;
			border-style: solid;
			display: none;
			border-width: 6px 6px 6px 0;
			border-right-color: #e8ebf0;
		}
	}

	&__icon{
		padding-right: 14px;
		width: 27px;
	}
	
	// Only mobile visible
	&__mobile-text{
		display: none;
	}

	&__tag{
		float: right;
	}

	&__caret{
		position: relative;
		float: right;
		font-size: 14px;
		margin-left: 12px;
		margin-top: 1px;
		.transition(transform 0.2s ease-in-out);
	}

	&__dropdown{
		display: none;
		background-color: rgba(255, 255, 255, 0.03);
	}
}

@media(max-width: 768px){
	.sidebar{
		.transition(all 200ms ease-in-out);

		&__link{
			&:after{
				border-right-color: #a6a8aa;
			}
		}
	}
}
