.tag{
	padding: 0 5px;
	font-size: 12px;
	min-width: 20px;
	font-weight: 500;
	color: inherit;
	text-align: center;
	.radius(10px);

	&-success{
		color: #fff;
		background-color: @brand-success;
	}

	&-danger{
		color: #fff;
		background-color: @brand-danger;
	}

	&-warning{
		color: #fff;
		background-color: @brand-warning;
	}

	&-info{
		color: #fff;
		background-color: @brand-info;
	}

	&-primary{
		color: #fff;
		background-color: @brand-primary;
	}

	&-purple{
		color: #fff;
		background-color: @brand-purple;
	}
}