@font-face {
    font-family: 'PlayfairDisplay-BoldItalic';
    src: url('../fonts/PlayfairDisplay-BoldItalic.otf');
}

.zoomklay_all_left_nl_all{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px 0;
}
.zoomklay_all_left{
	width: 53.5%;
}
.right_nl{
	width: 43.5%;
}
.litleslider_zoom_itemin{
	width: 100px;
	height: 145px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	margin: 5px 10px;
}
.litleslider_zoom_itemin img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.zoomklay_all_left{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.bigzoom{
	width: calc(100% - 120px);
}
.portfolio_1item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.portfolio_1item img{
	width: 100%;
	height: 465px;
	object-fit: contain;
}
.litleslider_zoom_item, .bigzoom a{
	outline: none !important;
}
.right_nl_top_h4{
	font-family: MullerLight;
	font-size: 32px;
}
.right_nl_top_h6{
	font-size: 24px;
	font-family: MullerMedium;
	margin-top: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;

}
.right_nl_top_h5{
	font-family: MullerMedium;
	font-size: 14px;
}

.right_nl_top_h5 span{
		font-family: MullerLight;
		font-size: 12px;
}

.right_nl_select{
	width: 250px;
	height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}
.right_nl_select select{
	width: 100%;
	height: 100%;
	color: #847f7f;
	padding: 0 20px 0 8px;
	border: 1px solid #847f7f ;
	 -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    z-index: 2;
    position: relative;
    background-color: transparent;

}
.right_nl_select_downicon{
    content: '';
    position: absolute;
    right: 10px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 10px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari 3-8 */
    transform: rotate(45deg);
    border: 1px solid #847f7f;
    border-top: none;
    border-left: none;

}
.right_nl_bntsa{
   width: 250px;
   min-height: 40px;
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   justify-content: center;
   -ms-align-items: center;
   align-items: center;
   border: none;
   background-color: #6b37a8;
   color: #fff;
   	font-family: MullerMedium;
}
.right_nl_sot{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-top: 20px;
}

.right_nl_sot .uSocial-Share .uscl-bar.uscl-size48.uscl-round .ico_uscl {
    font-size: 16px!important;
}

.right_nl_sot .product-inner__info .btn-rounded, 
.right_nl_sot .uSocial-Share .uscl-bar.uscl-size48 .ico_uscl {
    width: 34px!important;
    height: 34px!important;
    line-height: 34px!important;
}
.right_nl_sot  .btn-outlinll{
	width: 34px;
	height: 34px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	border: 1px solid #6b37a8;
	border-radius: 50%;
	margin: 5px;
	transition-duration: .3s;
}
.right_nl_sot  .btn-outlinll svg{
	fill: #6b37a8;
}
.right_nl_sot  .btn-outlinll:hover{
  background-color: #6b37a8;
}
.right_nl_sot  .btn-outlinll:hover svg{
	fill: #fff;
}
.right_nl_sot_00{
	font-size: 14px;
	color: #847f7f;
	margin-left: 5px;
}
.right_nl_magazin{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 30px;
}
.right_nl_magazin_left{
	margin-right: 15px;
}
.right_nl_magazin_h6{
 	font-family: MullerMedium;
 	font-size: 18px;	
}
.right_nl_magazin_img{
	width: 150px;
	height: 150px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.right_nl_magazin_img img{
	max-width: 100%;
	max-height: 100%;
}
.right_nl_magazin_right{
	text-align: center;
	min-width: 250px;
}
.right_nl_magazin_h6pp{
	max-width: 200px;
	font-size: 14px;
	text-align: left;
}
.right_nl_magazin_tel{
	width: 200px;
	min-height: 40px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	border: #847f7f 1px solid;
	margin-bottom: 10px;
	color: #847f7f;
	margin-left: auto;
	margin-right: auto;
}
a.right_nl_magazin_tel:hover{
   text-decoration: none;
   color: #847f7f;
}
/*magazin*/
.lnallm_all_1_img{
	width: 100px;
	height: 100px;
	margin-right: 30px;
	flex: 0 0 auto;
}
.lnallm_all_1_img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.lnallm_all_1_content h6{
	margin-top: 0;
	font-weight: bold;
	font-size: 16px;
}
.lnallm_all_1_content p{
	margin-bottom: 0;
	font-size: 12px;
	line-height: 1.5;
}
.lnallm_all_1_content a{
	font-size: 12px;
	color: #fff;
	padding-right: 10px;
}
.lnallm_all_1_content a:hover{
	text-decoration: underline;
}
.lnallm{
	width: 100%;
	padding: 30px;
	background-color: #6C37A9;
}
.lnallm_container{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}
.lnallm_all{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;


}
.lnallm_all_1{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 450px;
	margin-top: 30px;
}
/*lnodej*/
.lnodej{
	padding: 50px 0;
    
}
.lnodej_container{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
}
.lnodej_all{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.lnodej_all_leftright{
   width: 262px;
}
.lnodej_all_filter{
	width: calc(100% - 582px);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: flex-end;
	align-items: flex-end;
	margin-bottom: 15px;
}
.lnodej_all_filter_lefttt h4{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 0;
}
.lnodej_toplinkc{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;

}
.lnodej_toplinkc a{
	color: #000;
}
.lnodej_toplinkc span{
	margin: 0 5px;
}
.lnodej_all_items{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.lnodej_all_items_pod{
	width: calc(100% / 4 - 30px);
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 30px;

}
.lnodej_all_items_pod:hover{
	text-decoration: none;
}
.lnodej_all_items_pod_imgs{
	width: 100%;
	height: 250px;
}
.lnodej_all_items_pod_imgs img{
    width: 100%;
	height: 100%;
	object-fit: cover;
}
.lnodej_all_items_contern{
	padding-top: 10px;

}
.lnodej_all_items_contern p{
	margin-bottom: 0;
	color: #000;
}
.lnodej_all_items_contern_slae{
 display: -webkit-flex;
 display: -moz-flex;
 display: -ms-flex;
 display: -o-flex;
 display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;

}
.lnodej_all_items_contern_slae h6{
	 font-size: 12px;
    color: #000;
    margin-bottom: 0;
    margin-top: 0;
}
.lnodej_all_items_contern_slae11{
	margin-right: 5px;
}
@media only screen and (max-width : 1400px) {
	.lnodej_all_items_pod{
	width: calc(100% / 3 - 30px);
	}
	.lnodej_all_filter{
     -webkit-flex-direction: column;
     -moz-flex-direction: column;
     -ms-flex-direction: column;
     -o-flex-direction: column;
     flex-direction: column;
     align-items: flex-start;
	}
}
@media only screen and (max-width : 1200px) {
.lnallm_all_1{
	width: 350px;
}
	.lnodej_all_items_pod{
	width: calc(100% / 2 - 30px);
	}

}
@media only screen and (max-width : 991px) {
.zoomklay_all_left_nl_all{
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.zoomklay_all_left, .right_nl {
    width: 100%;
}
.lnodej_none{
   display: none;
}
.lnodej_all{
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.lnodej_all_filter{
	width: 100%;
}
	.lnodej_all_items_pod{
	width: calc(100% / 3 - 30px);
	}
}
@media only screen and (max-width : 600px) {
	.litleslider_zoom, .litleslider_zoom_item{
		display: none !important;
	}
	.bigzoom{
		width: 100%;
	}
	.portfolio_1item img{
		height: 300px;
	}
	.right_nl_magazin{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
		.lnodej_all_items_pod{
	width: calc(100% / 2 - 30px);
	}
}
@media only screen and (max-width : 480px) {
.lnallm_all_1{
	width: 100%;
}
.lnallm{
	padding-left: 15px;
	padding-right: 15px;
}
.lnallm_all_1_img{
	margin-right: 15px;
}
	.lnodej_all_items_pod{
	width: calc(100% / 1 - 30px);
	}
}