.active{
    display: block !important;
}

.none{
    display: none !important;
}

.box_1 {
    float: right;
    margin-top: 29px;
}
.w3view-cart {
    right: 10%;
}

.w3view-cart {
    background: #6b38a8;
    border: none;
    -o-border-radius: 7%;
    -ms-border-radius: 7%;
    -moz-border-radius: 7%;
    -webkit-border-radius: 7%;
    border-radius: 7%;
    width: 50px;
    height: 44px;
    text-align: center;
    outline: none;
    position: fixed;
    right: 20%;
    z-index: 99;
}

.w3view-cart .badge, .cabinet__panel-nav-item  .badge{
    width:10px;
    height: 10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: #e60c0c;
    color: #fff;
}
/*.w3view-cart i.glyphicon {
    font-size: 1.8em;
    color: #ffffff;
    vertical-align: middle;
}*/
#w3lssbmincart {
    left: 64%;
}

#w3lssbmincart {
    display: none;
    position: fixed;
    z-index: 999;
    left: 60%;
    top: 8%;
    width: 420px;
}

#w3lssbmincart form {
    position: relative;
    padding: 1em;
    background: #fbfbfb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    color: #333;
    -webkit-box-shadow: 0px 0px 5px 2px #9a9a9a;
    -moz-box-shadow: 0px 0px 5px 2px #9a9a9a;
    -o-box-shadow: 0px 0px 5px 2px #9a9a9a;
    -ms-box-shadow: 0px 0px 5px 2px #9a9a9a;
    box-shadow: 0px 0px 5px 2px #9a9a9a;
}

#w3lssbmincart .sbmincart-closer {
    float: right;
    margin: -8px -10px 0;
    padding: 0 10px;
    background: 0;
    border: 0;
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;
    outline: none;
}

#w3lssbmincart form ul {
    overflow-y: scroll;
    max-height: 300px;
}

#w3lssbmincart ul {
    clear: both;
    float: left;
    width: 100%;
    margin: 5px 0 20px;
    padding: 1em;
    list-style-type: none;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

#w3lssbmincart .sbmincart-item {
    clear: left;
    padding: 7px 0;
    min-height: 35px;
    font-size: 0.85em;
}

#w3lssbmincart .sbmincart-details-name {
    float: left;
    width: 40%;
    overflow: hidden;
}

#w3lssbmincart .sbmincart-item a {
    color: #333;
    text-decoration: none;
}


#w3lssbmincart .sbmincart-attributes {
    margin: 0;
    padding: 0;
    background: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: #999;
    font-size: 12px;
    line-height: 22px;
    overflow: inherit;
    height: inherit;
}

#w3lssbmincart .sbmincart-footer {
    clear: left;
    text-align: center;
    margin-right: 1.5em;
    position: relative;
}

#w3lssbmincart .sbmincart-details-quantity {
    float: left;
    width: 15%;
}
#w3lssbmincart .sbmincart-quantity {
    width: 44px;
    height: 23px;
    padding: 2px 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    font-size: 13px;
    text-align: right;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
}

#w3lssbmincart .sbmincart-details-remove {
    float: left;
    width: 7%;
}

#w3lssbmincart .sbmincart-remove, #w3lssbmincart .sbmincart-plus, #w3lssbmincart .sbmincart-minus {
    width: 18px;
    height: 19px;
    margin: 2px 0 0;
    padding: 0;
    background: #b7b7b7;
    border: 1px solid #a3a3a3;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    opacity: 0.70;
    cursor: pointer;
}
#w3lssbmincart .sbmincart-remove{
    background: #fd4646;
}

#w3lssbmincart .sbmincart-remove:hover {
    opacity: 1;
}

#w3lssbmincart .sbmincart-details-price {
    float: left;
    width: 20%;
    text-align: right;
}

.add-cart-div{
    float: right;
}

.sbmincart-submit{
    color:  #ff5063;
}

.cart_info {
        width: 100%;
    margin-bottom: 50px;
}

.table {
    width: 100%;
    margin-bottom: 20px;
}

.cart_info .table.table-condensed tr:last-child {
    border-bottom: 0;
}

.cart_info .table.table-condensed thead tr {
    height: 51px;
}
.cart_info .table.table-condensed tr {
    border-bottom: 1px solid#F7F7F0;
}
.cart_info .cart_menu {
    background: #6b38a8;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.cart_info .image {
    padding-left: 30px;
}

.cart_info .table.table-condensed tr {
    border-bottom: 1px solid#F7F7F0;
}

.cart_info table tr td {
    border-top: 0 none;
    vertical-align: inherit;
}

.payment-options {
    margin-bottom: 125px;
    margin-top: -25px;
}

.payment-options span label {
    color: #696763;
    font-size: 14px;
    font-weight: 300;
    margin-right: 30px;
}

.cart_quantity_button a {
    background: #F0F0E9;
    color: #696763;
    display: inline-block;
    font-size: 16px;
    height: 28px;
    overflow: hidden;
    text-align: center;
    width: 35px;
    float: left;
}

.cart_quantity_input {
    color: #696763;
    float: left;
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto',sans-serif;
}

.cart_info tr{
    padding: 10px;
    height: 75px;
}

.cart_quantity_delete{
    background: #F0F0E9;
    color: #696763;
    display: inline-block;
    font-size: 16px;
    height: 28px;
    overflow: hidden;
    text-align: center;
    width: 35px;
}

.cart-section .empty-bsk-img{
        width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #F8F8F8;
    line-height: 136px;
    text-align: center;
    font-size: 48px;
    margin-bottom: 20px;
    display: inline-block;

}

.cart-section .page-inner-container {
    margin-bottom: 25px;
}

.cart-section .inner-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.cart-section .empty-bsk-block-wrap {
    position: relative;
    min-height:  394px;;
}

.cart-section .empty-bsk-block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 22px;
    color: #342F2B;
    text-align: center;
    max-width: 250px;
    max-height: 150px;
}

.cart-header{
    margin: 40px 100px;
    float: right;

}
.cart-section .empty-bsk-img > div{
    margin: 0 auto;
    background-image: url(/assets/img/cart.png);
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.promo-code .input--gray{
    width: 70%;
}

.promo-code .btn--purple{
    float: right;
}

.form-order{
      margin-bottom: 100px;
}

.checkout-btn, .checkout-open{
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-header .close{
    float: right;
    font-size: 25px;
    margin: 5px 10px;
}

.modal-content{
        width: 400px;
    height: 400px;
    background: #fff;
    margin: 50px auto;
    border-radius: 5px;
}

.modal.checkout{

    display: none;
    z-index: 100 !important;
}

.modal.checkout .modal-body{
    padding: 20px;  
}

.modal.checkout .modal-body h3{
    margin: 12px auto;
    top: 20px;
    left: 0;
    right: 0;
}

.modal.checkout .product_summ, .modal.checkout .sale, .modal.checkout .deliver_price{
    font-size: 18px;
    margin-bottom: 6px;
}

.modal.checkout .all_summ{
    margin-top: 5px;
    font-size: 20px;
    font-weight: bolder;
}

/* payment buttons*/

.modal.checkout .box.selected, .balance-section .box.selected{
    /* -webkit-box-shadow: 0 0 0 4px #6794d7; */
    -moz-box-shadow: 0 0 0 4px #6794d7;
    -ms-box-shadow: 0 0 0 4px #6794d7;
    -o-box-shadow: 0 0 0 4px #6794d7;
    box-shadow: 0 0 0 4px #6794d7;
}

.modal.checkout .box, .balance-section .box {
    color: #000;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.13);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,.13);
    -ms-box-shadow: 0 0 5px 0 rgba(0,0,0,.13);
    -o-box-shadow: 0 0 5px 0 rgba(0,0,0,.13);
    box-shadow: 0 0 5px 0 rgba(0,0,0,.13);
    width: 151px;
    height: 72px;
    padding: 0 12px;
    background: #fff;
}

.modal.checkout .icon.paysystem, .balance-section .icon.paysystem{
    width: 180px;
    height: 81px;
    background-position: center center;
    background-repeat:  no-repeat;
    background-size: cover;
    margin: 5px auto;
    zoom: .5;
}

.modal.checkout .box .title, .balance-section .box .title {
    border-top: 1px solid #efefef;
    height: 55px;
    vertical-align: middle;
    width: 100%;
}

.modal.checkout .flexline, .balance-section .flexline{
    display: table;
    width: 100%;
    height: 100%;
}
.modal.checkout .large, .balance-section .large {
    font-size: 14px;
    line-height: 18px;
}
.modal.checkout .block, .balance-section .block {
    display: block;
}

.modal.checkout .box .title.flexline>*, .balance-section .box .title.flexline>*{
    padding-left: 32px;
}
.modal.checkout .flexline > * , .balance-section .flexline > * {
    display: table-cell;
}
.modal.checkout .vmiddle, .balance-section .vmiddle {
    vertical-align: middle;
    padding-left: 0px;
}

.payments {text-align:center; padding:40px;}

.payments > a {
    line-height: 14px;
    margin-left: 20px !important;
    margin-bottom: 20px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 11px !important;
    text-decoration: none !important;
    text-align: center;

    display:inline-block;
}

.payments{
    margin-top: 25px;
}

.payments h4{
    margin: 10px;
}

.mall_change{
    color: red;
}
.active_btn{
    background: red;
    color: white;
}

.cart_product{
    text-align: center;
}

.cart_product img{
    width: 75px;
}
.input--textarea.prodtc_description{
    height: 174px;
}

.btn_new {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.order-section{
    min-height:500px; 
}

.order-section .container{
    margin: 50px auto;
}

.cabinet__card-img-container img{
    /*width: 268px;
    height: 168px;*/
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.breadcrumb > li {
    display: inline-block;
}

.breadcrumb > .active_bread {
    color: #777;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.product-inner__shop-info.small-shade.default-radius img{
    width: 100px;
    
}

.modal-map{
    display: block !important;
    width: 90% !important;
    height: 90% !important;
    background: #fff;
    position: fixed;
    top: 5% !important;
    left: 5% !important;
    box-shadow: 0 0 10px #111;
    z-index: 99999 !important;
}

.close_map{
        width: 40px;
    height: 40px;
    right: 0;
    float: right;
    position: absolute;
    z-index: 1000;
    border-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background: #fff;
    box-shadow: 0 0 10px #222;
    font-size: 34px;
}

.modal-map .buttons{
    text-align: center;
        /* top: -50px; */
    margin: -50px 9px;
    z-index: 99999;
    /* left: 0; */
}

.modal-map .buttons input{
    width: 60%
}

.modal-map .buttons *{
    z-index: 999;
}

.location_btn{
    max-width: 200px;   
    overflow: hidden;
}

.location_btn_inner{
    width: 100% !important;   
    max-width: 100% !important;   
}

.loading{
        background-image: url(/assets/img/loading.gif);
    background-position: 50% 50%;
    /* margin: 10% auto; */
    width: 30%;
    height: 30%;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 10000;
    left: 35%;
    top: 35%;
}

.nav-zindex{
}

.balance-section{
    min-height: 300px;
}


/* 17.07.2018*/

.size_product.active{
    background: rebeccapurple;
    color: #fff;
}

.cabinet__card-img{
    width: 100%;
    height: 100%;
}

.status_checkbox{
    margin-bottom: -46px;
}

.status_input{
        margin-left: 50px;
    height: 47px;
}

.status_input.active{
    margin-left: 62px;
}

.js-search-sidebar .dropdown__content label{
    display: block;
}

.sale_product{
    z-index: 2;
    font-weight: 500;
    position: absolute;
    right: 0;
    background: red;
    padding: 10px 10px 10px 10px;
    border-bottom-left-radius: 9px;
    color: #fff;
}