.backend_icon_news .icon_news{
    position: absolute;
}
.icon_news{
    width: 100px;
    height: 64px;
}
.icon_news img{
   width: 100%;
   height: 100%;
}

.ln_cover_sec .redactor-content img{
    width: 80% !important;
    display: flex;
}

.item-carousel2  .card__img-cont .ln_dir_image_shop{
    width:100%;
    height:180px;
    margin:0 auto;
    display:flex
    
}
.card__img-cont .ln_dir_image_shop{
    width:300px;
    height:300px;

}
.ln_cover_sec .ln_img_full img{
    width: 90% !important;
}
@media (max-width:992px){
    .ln_cover_sec .redactor-content img{
        width: 80% !important;
    }
    .ln_cover_sec .ln_img_full img{
        width: 90% !important;
    }
}


@media (max-width:992px){
    .ln_cover_sec .redactor-content img{
    width: 40% !important;
    }
    .ln_cover_sec .ln_img_full img{
        width: 100% !important;
    }
    .icon_news img{
       width: 100%;
       height: 78%;
    }
}