.ad{
	height: 250px;
	line-height: 250px;
	background-color: #fff;
	max-width: 980px;
	margin: 0 auto;
	text-align: center;
	font-size: 32px;
	color: #c0c0c0;
	font-family: 'MullerMedium';
	.box-shadow(0,0,20px,rgba(0,0,0,0.1));
}