.alert{
	display: block;
	position: relative;
	padding: 20px 15px 20px 30px;
	font-family: 'MullerBold';
	.small-shade;

	&--danger{
		background-color: lighten(@color-danger, 10%);
		color: #fff;
	}

	&--success{
		background-color: @brand-purple;
		color: #fff;
	}

	&__dismisser{
		position: absolute;
		right: 15px;
		color: #fff;
		font-size: 24px;
		opacity: 0.8;
		.centered-y;

		&:after {
			content: '×'
		}

		&:hover{	
			opacity: 1;
		}
	}
}