.big-o-search{
	position: relative;
	width: 100%;
	display: inline-block;
	.radius(5px);

	.autocomplete-suggestions{
		top: 100%;
		left: 0;
		right: 100px;
		width: auto !important;
	}

	.autocomplete-suggestion{
		padding: 15px;
		cursor: pointer;

		&:hover{
			background-color: rgba(22, 22, 22, 0.05);
		}
	}

	&__input{
		width: -webkit-calc(~'100% - 100px');
		width: -moz-calc(~'100% - 100px');
		width: calc(~'100% - 100px');
		float: left;
		height: 60px;
		padding: 0 30px;
		font-size: 18px;
		.radius(0);
		.border-left-radius(5px);
	}

	&__btn{
		position: relative;
		width: 100px;
		height: 60px;
		vertical-align: middle;
		text-align: center;
		font-size: 25px;
		z-index: 1;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;	
		background-color: @brand-purple;
		color: #fff;
		.transition(background-color 200ms ease-in-out);
		.border-right-radius(5px);
		
		&:hover{
			background-color: lighten(@brand-purple, 5%);
		}
	}
}

@media(max-width: @screen-md){
	.big-o-search{
		&__input,
		&__btn{
			height: 50px;
		}

		.autocomplete-suggestions{
			right: 60px;
		}

		&__input{
			width: -webkit-calc(~'100% - 60px');
			width: -moz-calc(~'100% - 60px');
			width: calc(~'100% - 60px');
			font-size: 16px;
		}

		&__btn{
			font-size: 24px;
			width: 60px;
		}
	}
}