.btn-group{
	.radius(5px);
	.box-shadow(0, 3px, 10px, rgba(0,0,0,0.1));
	.clearfix;

	input[type="checkbox"]{ 
		display: none; 

		&:checked + .btn-group__btn{
			&:after{
				opacity: 1;
				.scale(1);
			}
		}
	}

	&--purple{
		.btn-group__btn:after{
			background-color: @brand-purple;
		}
	}

	&__item{
		float: left;
		position: relative;

		&:after{
			content: '';
			position: absolute;
			height: 100%;
			right: 0;
			top: 0;
			z-index: 1;
			border-left: 1px solid rgba(0, 0, 0, 0.07);
		}

		&--first{
			.btn-group__btn,
			.btn-group__btn:after{
				.border-left-radius(5px);
			}
		}

		&--last{
			&:after{
				display: none;
			}

			.btn-group__btn,
			.btn-group__btn:after{
				.border-right-radius(5px);
			}
		}
	}

	&__btn{
		position: relative;
		color: #c3c3c3;
		z-index: 1;
		-webkit-backface-visibility: hidden;
		background-color: #fff;
		.box-shadow(0, 0, 0, 0);
		.radius(0);

		&:after{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			z-index: -1;
			opacity: 0;
			.scale(0.8);
			.transition(all 250ms);
		}
	}
}