.btn-scroll-down{
    width: 28px;
    height: 45px;
    border: 3px solid #fff;
    -webkit-animation: mouse 1.5s ease-out infinite;
    -moz-animation: mouse 1.5s ease-out infinite;
    animation: mouse 1.5 ease-out infinite;
    cursor: pointer;
    opacity: 0.5;
    .transition(opacity 200ms ease-out);
    .radius(100px);

    &:after{
        position: absolute;
        content: '';
        width: 6px;
        height: 6px;
        background-color: #fff;
        left: 50%;
        margin-left: -3px;
        top: 10px;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        -webkit-animation: dot 1.5s infinite;
        animation: dot 1.5s infinite;
        .radius(50%);
    }

    &:hover{
        opacity: 1;
    }

    span{
        position: absolute;
        .centered-x;

        &:first-child{
            top: 45px;
        }

        &:last-child{
            top: 55px;
        }
    }
}

@-webkit-keyframes mouse{
    0%{
        -webkit-transform: translate(0, 0) scale(1);
    }

    50%{
         -webkit-transform: translate(0, 10px) scale(0.95);
    }
    
    100%{
        -webkit-transform: translate(0, 0) scale(1);
    }
}

@keyframes mouse{
    0%{
        transform: translate(0, 0) scale(1);
    }

    50%{
         transform: translate(0, 10px) scale(0.95);
    }
    
    100%{
        transform: translate(0, 0) scale(1);
    }
}

@-webkit-keyframes dot{
    0%{
        -webkit-transform: translate(0, 0);
    }

    50%{
         -webkit-transform: translate(0, 18px);
    }
    
    100%{
        -webkit-transform: translate(0, 0);
    }
}

@keyframes dot{
    0%{
        transform: translate(0, 0);
    }

    50%{
         transform: translate(0, 18px);
    }
    
    100%{
        transform: translate(0, 0);
    }
}