.btn-contact{
	color: #fff;
	padding: 20px 0;
	background-color: @brand-purple;
	font-family: 'MullerLight';
	text-align: center;
	width: 100%;

	&__phone{
		font-size: 20px;
		display: inline-block;

		span{
			font-size: 17px;
		}
	}

	&__phone-expander{
		padding: 0 0 0 15px;
		white-space: nowrap;
		font-size: 14px;
		display: inline-block;
	}
}	

	

	