/*
|
| Buttons
| -----------------------------------------------------
| Example: <a href="#" class="btn">Button</a>
|
*/

.btn-base{
	position: relative;
	display: inline-block;
	white-space: nowrap;
	cursor: pointer;
	padding: 12px;
	font-size: 16px;
	font-family: 'MullerMedium';
	text-align: center;
	vertical-align: middle;
	line-height: 1.42857143;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	.user-select(none);
	.radius(4px);
}

.btn-square{
	width: 46px;
	height: 46px;
	line-height: 46px;
	padding: 0;
}

.btn-rounded{
	&:extend(.btn-square);
	.radius(50%);
}

.btn-outline{
	border: 1px solid;
	.transition(~'all @{transition-duration} @{transition-ease}');
	&:extend(.btn-base);

	&--purple{
		border-color: @brand-purple;
		color: @brand-purple;

		&:hover{
			background-color: @brand-purple;
			color: #fff;
		}
	}
}

.btn
{
	&:extend(.btn-base);
	top: 0;
	.box-shadow(0, 5px, 10px, rgba(0,0,0,0.1));
	.transition(~'box-shadow @{transition-duration} @{transition-ease}, transform 50ms ease');

	&--purple{
		background-color: @brand-purple;
		color: #fff;
	}

	&--green{
		background-color: @color-success;
		color: #fff;
	}

	&--red{
		background-color: @color-danger;
		color: #fff;
	}

	&--white{
		background-color: #fff;
		color: #232323;
	}

	&--gray{
		background-color: #c9c9c9;
		color: #fff;
	}

	&--block{
		display: block;
		width: 100%;
	}

	&.is-waiting{
		&:after{
			content: '';
			position: absolute;
			left: -35px;
			width: 18px;
			height: 18px;
			border: 2px solid @brand-purple;
			border-radius: 50%;
			border-left-color: transparent;
			border-right-color: transparent;
			animation: rotate 425ms infinite linear;
			-o-animation: rotate 425ms infinite linear;
			-ms-animation: rotate 425ms infinite linear;
			-webkit-animation: rotate 425ms infinite linear;
			-moz-animation: rotate 425ms infinite linear;
		}
	}
	
	&:not(&:disabled):hover{
		.box-shadow(0, 5px, 10px, rgba(0,0,0,0.25));
	}

	&:not(&:disabled):active{
		.transform(translate3d(0, 3px, 0) scale(0.98));
		.box-shadow(0, 0, 0, rgba(0,0,0,0));
	}

	&:disabled{
		background-color: #c9c9c9;
		cursor: not-allowed;
	}
}

@media(max-width: @screen-md){
	.btn{
		padding: 12px;
	}

	.btn-square{
		padding: 0;
	}
}
