.cabinet{
	&__col-left{
		float: right;
	}

	&__col-right{
		float: left;
	}

	&__panel{
		position: relative;
		background-color: #fff;
		.radius(5px);

		&-top{
			background-color: @brand-purple;
			padding: 25px 25px 0;
			color: #fff;
			.radius(5px);
		}

		&-logout{
			position: absolute;
			right: 25px;
			top: 25px;
		}

		&-subtitle{
			font-size: 20px;
			font-family: 'MullerRegular';
			font-weight: normal;
			display: inline-block;
		}

		&-nav{
			padding-top: 30px;
			width: 100%;
			.user-select(none);

			&-item{
				display: inline-block;
				padding: 12px 24px;
				font-size: 18px;
				margin: 0 -2px;
				.border-top-radius(5px);

				&.is-active{
					background-color: #fff;
					cursor: default;
					color: @brand-purple;
				}

				&:not(.is-active):hover{
					cursor: pointer;
					background-color: rgba(255, 255, 255, 0.1);
				}
			}
		}

		&-content{
			padding: 25px;

			&-title{
				font-size: 18px;
				font-weight: normal;
				font-family: 'MullerMedium';
			}

			&-link{
				color: @brand-purple;
				font-family: 'MullerMedium';
				font-size: 18px;
				border-bottom: 1px solid @brand-purple;
			}
		}
	}

	&__info-block{
		padding: 20px;
		background-color: rgba(107, 55, 168, 0.05);
		.radius(5px);

		&-text{
			font-size: 16px;
			font-family: 'MullerMedium';
			color: @brand-purple;
			padding: 6px 0;
		}
	}

	&__card{
		position: relative;
		background: #fff no-repeat center;
		background-size: 80%; /* Used for preview */
		margin-bottom: 30px;
		.transition(box-shadow 300ms ease-out);
		.box-shadow(0, 0, 5px, rgba(21, 21, 20, 0.3));
		.radius(5px);

		&:hover{
			.box-shadow(0, 0, 15px, rgba(21, 21, 20, 0.3));

			.cabinet__card-cover{
				.opacity(100);
			}
		}

		&--add{
			background-color: #f5f5f5;
			text-align: center;
			color: #e1e1e1;
			font-size: 52px;
			min-height: 238px;
		}

		&-plus-icon{
			position: absolute;
			left: 0;
			width: 100%;
			.centered-y;
		}

		&--small{
			min-height: 150px;
		}

		&-cover-link, &-cover{
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			left: 0;
			z-index: 1;
		}

		&-cover{
			background-color: rgba(107, 55, 168, 0.7);
			.opacity(0);
			.transition(opacity 0.7s);
			.border-top-radius(5px);

			&-content{
				position: absolute;
				width: 100%;
			}
		}

		&-img-container{
			position: relative;
			background-color: #f5f5f5;
			height: 170px;
			text-align: center;
			.radius(5px);
		}

		&-img{
			position: relative;
			display: inline-block;
			width: 100%;
			.centered-y;
			.border-top-radius(5px);
		}

		&-remove-btn{
			width: 26px;
			height: 26px;
			position: absolute;
			right: -13px;
			font-size: 20px;
			top: -13px;
			line-height: 28px;
			text-align: center;
			font-family: 'MullerBold';
			vertical-align: middle;
			color: #fff;
			z-index: 1;
			background-color: lighten(@color-danger, 10%);
			.transition(transform 400ms cubic-bezier(.9,-1.1,.4,1.39));
			.radius(50%);

			&:hover{
				.scale(1.1);
			}
		}

		&-content{
			padding: 14px;
		}

		&-title{
			font-size: 18px;
			font-family: 'MullerMedium';
		}

		&-text{
			font-size: 18px;
			color: @brand-purple;
		}

		&.has-preview{
			.cabinet__card-plus-icon{
				display: none;
			}
		}
	}

	&__tab-content{
		display: none;

		&.is-active{
			display: block;
		}
	}

	/* Right side */
	&__sidebar{
		&-top{
			background-color: @brand-purple;
			color: #fff;
			width: 100%;
			padding: 25px;
			margin-bottom: 20px;
			.clearfix;
			.radius(5px);
		}

		&-thumb{
			position: relative;
			float: left;
			top: -36px;
			margin-right: 15px;
			.radius(5px);
		}

		&-name{
			font-family: 'MullerMedium';
			font-size: 24px;
			margin-bottom: 20px;
		}

		&-edit{
			color: rgba(255, 255, 255, 0.5);
			border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		}
	}

	&__info-item{
		height: 90px;
		background-color: #fff;
		overflow: hidden;
		margin-bottom: 20px;
		.radius(5px);

		&-icon{
			background-color: @brand-purple;
			float: left;
			height: 90px;
			width: 90px;
			text-align: center;
			color: #fff;
			font-size: 20px;
			.radius(5px);

			i{
				line-height: 90px;
			}
		}

		&-content{
			position: relative;
			padding: 10px;
			overflow: hidden;
			text-align: center;
			.centered-y;
		}

		&-text{
			font-family: 'MullerLight';
			font-size: 16px;
		}
	}
}

@media(max-width: @screen-xl){
	.cabinet{
		&__panel{
			&-nav{
				&-item{
					font-size: 16px;
					padding: 12px 16px;
				}
			}
		}

		&__sidebar{
			text-align: center;

			&-thumb{
				float: none;
				margin-bottom: -25px;
				margin-right: 0;
			}

			&-edit{
				width: 100%;
			}
		}
	}
}

@media(max-width: @screen-md){
	.cabinet{
		&__panel{

			&-nav{
				padding-bottom: 28px;

				&-item{
					display: block;
					.radius(5px);
				}
			}

		}
	}
}

@media(max-width: @screen-sm){
	.cabinet{
		&__col-left,
		&__col-right{
			float: none;
		}
	}
}