.card{
	position: relative;

	display: block;

	&__img-cont,
	&__img-cover,
	&__img-cont img{
		.border-top-radius(5px);
	}
	
	&__viewport{
		background-color: #fff;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		overflow: hidden;
		.radius(5px);
		.transition(all @transition-duration @transition-ease);
	}

	&--default {
		.card__viewport {
			margin: 0 10px 2px;
		}

		.card__btn-bottom{

		}
	}

    &--hasNoFavButton{
        height: 320px !important; 
    }

	&--expand { 
		height: 350px;
		width: 251px;

		.card__btn-bottom{
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
		}

		.card__viewport {
			position: absolute;
			top: 30px;
			left: 15px;
			right: 15px;
			bottom: 15px;
		}

		.card__img-cont{
			position: relative;
			overflow: hidden;
			height: 190px;
			img{
				position: absolute;
				.centered;
			}
		}

        &:hover{
            .card__description {
                margin-top: 5px;
                height: 33px;
            }

            .card__viewport{
                margin:-28px -15px;
                bottom: 30px;
            }

            .card__title{
                max-height: 32px;
            }
        }
	}

	&:hover{
		.card__viewport {
			.small-shade();
		}

		.card__img-cover{
			.opacity(100);
		}

		.card__img-cont{
			border-color: #fff;
		}
	   
	}

	&__img-cont{
		position: relative;
		display: block;
		cursor: pointer;
		border-bottom: 1px solid rgba(0, 0, 0, 0.05);

		img{
			width: 100%;
			vertical-align: middle;
		}
	}

	&__img-cover{
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(107, 55, 168, 0.6);
		color: #fff;
		z-index: 3;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		.opacity(0);
		.transition(opacity @transition-duration @transition-ease);

		> i{
			position: absolute;
			display: block;
			width: 60px;
			height: 60px;
			background-color: @brand-purple;
			text-align: center;
			line-height: 60px;
			font-size: 16px;
			.radius(50%);
		}
	}

	&__content{
		padding: 20px 16px;
	}

	&__title{
		font-size: 16px;
		font-family: 'MullerMedium';
       	display: inline-block;
  		overflow: hidden;
		max-height: 16px;
        width: 100%;
		.transition(all @transition-duration @transition-ease);

		&:hover{
			color: @brand-purple;
		}
	}

	&__subtitle{
		font-size: 16px;
	}

	&__plus-btn{
		position: relative;
		display: inline-block;
		font-size: 24px;
		line-height: 30px;
		.radius(50%);

		&:hover{
			color: @brand-purple;

			.card__tooltip{
				.opacity(100);
				.translateY(0);
			}
		}
	}

	&__description {
		height: 0;
		overflow: hidden;
		color:#555;
		font-size: 13px;
		.transition(all @transition-duration @transition-ease);
	}

	&__tooltip{
		position: absolute;
		top: -25px;
		right: -4px;
		width: auto;
		color: #fff;
		white-space: nowrap;
		background-color: @brand-purple;
		font-family: 'MullerLight';
		padding: 0 6px;
		height: 22px;
		font-size: 12px;
		pointer-events: none;
		line-height: 22px;
		.radius(4px);
		.opacity(0);
		.transition(all 200ms ease-in-out);
		.translateY(-8px);

		&:before{
			content: '';
			position: absolute;
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6px 4px 0 4px;
			border-color: @brand-purple transparent transparent transparent;
			bottom: -5px;
			right: 7px;
		}
	}

	&__purple-text{
		color: @brand-purple;
		font-family: 'MullerMedium';
		font-size: 16px;
		margin-top: 10px;
		white-space: nowrap;
	}

	&__likes{
		position: absolute;
		bottom: 10px;
		right: 10px;
		z-index: 1;
	}

	&__btn-bottom{
		background-color: #e6e1e0;
		height: 30px;
		line-height: 30px;
		text-align: center;
		display: block;
		font-family: 'MullerMedium';
		color: darken(#e6e1e0, 40%);
	}
}

@media(max-width: @screen-md){
	.card{
		margin-bottom: 15px;
		margin-right: @grid-gutter-md;
		margin-left: @grid-gutter-md;
	}
}

@media(max-width: @screen-sm){
	.card{
		&__title{
			font-size: 16px;
		}

		&__subtitle{
			font-size: 14px;
		}

		&__purple-text{
			font-size: 14px;
		}
	}
}