.card-horizontal{
	background-color: #fff;
	width: 100%;
	overflow: hidden;
	margin-bottom: 15px;
	.clearfix;


	&__img{
		float: left;
		width: 208px;
		height: 200px;
		background: #d3d3d3 no-repeat center;
		background-size: cover;
		display: block;
	}	


	&__content{
		overflow: hidden;
		padding: 20px;
	}

	&__title{
		font-size: 18px;
		font-family: 'MullerMedium';
		margin-bottom: 5px;
		display: inline-block;
	}

	&__price{
		color: @brand-purple;
		font-family: 'MullerMedium';
		margin-top: 10px;
	}

	&__text{
		font-family: 'MullerLight';
		margin-top: 7px;
		font-size: 16px;
	}

	&__divider{
		border-bottom: 1px solid #d3d3d3;
		display: block;
		padding-top: 12px;
		margin-bottom: 15px;
	}

	&__like-amount{
		color: #b4b4b4;
		font-size: 16px;
		vertical-align: middle;
		padding: 12px 8px;
		font-family: 'MullerLight';
	}

}

@media(max-width: @screen-md){
	.card-horizontal{
		&__img{
			float: none;
			width: 100%;
			height: 200px;
		}	
	}
}