.carousel-arrow{
    position: absolute;
    color: @brand-purple;
    font-size: 20px;
    display: block;
    z-index: 1;
    width: 50px;
    text-align: center;
    height: 50px;
    background-color: #fff;
    top: 25%;
    .small-shade;
    .radius(5px);

    i{
        position: absolute;
        .centered-y;
    }

    &--prev{
	    left: -10px;

        i{
            left: 18px;
        }
	}

	&--next{
	    right: -10px;

        i{
            right: 18px;
        }
	}

    &:hover{
        background-color: @brand-purple;
        color: #fff;
    }
}
