.cats {
	position: relative;
	z-index: 5;
	background: #fff;
	padding: 7px 21px;
	margin-top: -100px;
	.radius(5px);
	.box-shadow(0,0,20px,rgba(0,0,0,0.1));

	&__col {
		float: left;
		width: 16.6666666667%;
		padding: 7px;
	}

	&__item {
		display: block;
		color: @brand-purple;
		background: #fff;
		border: 2px solid @brand-purple;
		padding: 15% 10px;
		.radius(5px);
		.transition(all 200ms ease-in-out);

		i {
			font-size: 72px;

			&.all-icon,
			&.icon-shoes-icon{
				display: inline-block;
				.scale(0.7);
			}
		}

		&-name {
			margin-top: 15px;

			&--all{
				position: relative;
			}
		}

		&:hover{
			color: #fff;
			background: @brand-purple;
		}
	}
}


@media(max-width: @screen-md){
	.cats {
		margin-bottom: 40px;

		&__col {
			width: 100/3%;
		}

		&__item {
			padding: 15px;

			i {
				font-size: 46px;
			}
		}
	}
}

@media(max-width: @screen-sm){
	.cats {
		padding: 7px 14px;

		&__item {
			&-name{
				margin-top: 10px;
			}
		}
	}
}