.category{
	background-color: #fff;
	margin-bottom: 11px;
	width: 100%;

	/* Apart from image context block */
	&__content{
		padding: 15px 20px;
	}

	&__title{
		font-size: 18px;
		font-family: 'MullerMedium';
		margin-bottom: 10px;
	}

	&__list{
		&-link{
			font-size: 16px;
			display: block;
			padding-bottom: 8px;
		}
	}
}