/*
|
| Basic checkbox
| -----------------------------------------------------
| Example: 
| 
| <label class="checkbox">
|     <input type="checkbox" name="checkbox">
|	  <span>Your checkbox label</span>
| </label> 
| 		  
|
*/

.checkbox
{
	display: inline-block;
	cursor: pointer;
	position: relative;
	.user-select(none);

	input{
		display: none;

		&:checked{
			+ span{
				&:after{
					.scale(1);
				}
			}
		}
	}

	span{
		&:before{
			content: '';
			width: 20px;
			height: 20px;
			background-color: #fff;
			display: inline-block;
			margin-right: 10px;
			vertical-align: middle;
			.radius(4px);
			.box-shadow(0, 0, 3px, rgba(21,21,20,0.3));
		}


		&:after{
			.icon;
			content: @icon-checkbox-tick;
			position: absolute;
			left: 2px;
			top: 0;
			font-size: 16px;
			color: @brand-purple;
			-webkit-transform-origin: 40% 80%;
			transform-origin: 40% 80%;
			.transition(transform 200ms ease-in-out);
			.scale(0);
			.radius(50%);
		}
	}

	&:disabled{
		
	}
}
