.comment{
	border-bottom: 1px solid #e7e7e7;
	padding: 20px 0;
	width: 100%;
	.clearfix;

	&__thumb{
		width: 80px;
		height: 80px;
		background: #fff no-repeat center;
		background-size: 45%;
		float: left;
		margin-right: 20px;
		.radius(50%);
	}

	&__info{
		overflow: hidden;
	}

	&__date{
		color: #93979c;
		font-size: 16px;
		padding: 10px 0;
	}

	&__title{
		font-size: 18px;
	}

	&__text{
		font-size: 16px;
	}

	&--last{
		margin-bottom: 30px;
	}
}