.counter-list{
	&__item{
        display: block;
        position: relative;
        overflow: hidden;
        padding-bottom: 15px;

        &:after {
            content:'';
            display: block;;
            overflow: hidden;
            height: 14px;
            border-bottom: 1px dotted #fff;
        }
	}

	&__key{
		display: block;
		float: left;
		padding-right: 2px;
	}

	&__value{
        display: block;
        float: right;
        padding-left: 2px;
	}
}