.cover{
	color:#fff;
	background-color: @brand-purple;
	background-size: cover;
	background-position: center;
	height: 300px;
	position: relative;

	&:after{
		content: '';
		position: absolute;
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(107, 55, 168, 0.8)
	}
	
	&__text{
		z-index: 2;
		position: relative;
		.centered;
	}
}