.dir{
	position: relative;
	cursor: pointer;
	margin-bottom: 20px;
	.radius(5px);
	.transition(box-shadow @transition-duration @transition-ease);

	&--white {
		.dir__title {
			background-color: #fff;

			span{
				color: @brand-purple;
			}
		}

		&:hover{
			.dir__title {

				span{
					color: #fff;
				}
			}
		}
	}

	&--purple {
		.dir__title {
			background-color: @brand-purple;

			span{
				color: #fff;
			}
		}

		&:hover{
			.dir__title {
				span{
					color: #fff;
				}
			}
		}
	}

	&--border {
		&:after {
			pointer-events: none;
			content: '';
			position: absolute;
			border: 1px solid #fff;
			opacity: 0;
			.radius(5px);
			.transition(all @transition-duration @transition-ease);
		}

		&:hover {
			&:after {
				opacity: 1;
				top: 6px;
				bottom: 6px;
				right: 6px;
				left: 6px;
			}
		}
	}

	&__img{
		width: 100%;
		vertical-align: middle;
		.radius(5px);
	}

	&__title{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 50px;
		text-align: center;
		font-size: 16px;
		font-family: 'MullerMedium';
		.radius(0 0 5px 5px);
		.user-select(none);
		.transition(all @transition-duration @transition-ease);

		span{
			position: relative;
			display: block;
			top: 50%;
			.transition(color @transition-duration @transition-ease);
			.translateY(-50%);
		}
	}

	&:hover{
		.dir__title{
			background-color: rgba(107, 55, 168, 0.7);
			height: 100%;
			.radius(5px);
		}

		.box-shadow(0, 3px, 20px, rgba(0,0,0,0.2));
	}
}