.dropdown{
	&.is-active{
		.dropdown__icon{
			.rotate(180deg);
		}
	}

	&__label{
		cursor: pointer;
		display: inline-block;
	}

	&__icon{
		font-size: 10px;
		display: inline-block;
	}

	&__content{
		padding-left: 15px;
		display: none;
	}
}