@font-face {
  font-family: 'icomoon';
  src:  url('@{icomoon-font-path}/icomoon.eot?v9alto');
  src:  url('@{icomoon-font-path}/icomoon.eot?v9alto#iefix') format('embedded-opentype'),
    url('@{icomoon-font-path}/icomoon.ttf?v9alto') format('truetype'),
    url('@{icomoon-font-path}/icomoon.woff?v9alto') format('woff'),
    url('@{icomoon-font-path}/icomoon.svg?v9alto#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'MullerLight';
    src: url('../fonts/MullerLight.eot');
    src: url('../fonts/MullerLight.woff2') format('woff2'),
       url('../fonts/MullerLight.woff') format('woff'),
       url('../fonts/MullerLight.svg#MullerLight') format('svg'),
       url('../fonts/MullerLight.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MullerRegular';
    src: url('../fonts/fontfabric_-_mullerregular-webfont.eot');
    src: url('../fonts/fontfabric_-_mullerregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontfabric_-_mullerregular-webfont.woff2') format('woff2'),
         url('../fonts/fontfabric_-_mullerregular-webfont.woff') format('woff'),
         url('../fonts/fontfabric_-_mullerregular-webfont.ttf') format('truetype'),
         url('../fonts/fontfabric_-_mullerregular-webfont.svg#muller_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MullerBold';
    src: url('../fonts/MullerBold.eot');
    src: url('../fonts/MullerBold.woff2') format('woff2'),
       url('../fonts/MullerBold.woff') format('woff'),
       url('../fonts/MullerBold.svg#MullerBold') format('svg'),
       url('../fonts/MullerBold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MullerMedium';
    src: url('../fonts/MullerMedium.eot');
    src: url('../fonts/MullerMedium.woff2') format('woff2'),
       url('../fonts/MullerMedium.woff') format('woff'),
       url('../fonts/MullerMedium.svg#MullerMedium') format('svg'),
       url('../fonts/MullerMedium.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

.font-regular{
    font-family: 'MullerRegular';
}

.font-light{
    font-family: 'MullerLight';
}

.font-bold{
    font-family: 'MullerBold';
}

.font-medium{
    font-family: 'MullerMedium';
}