.footer{
	position: relative;
	color: #fff;
	z-index: 1;
	background-color:@brand-purple;
	
	&__link {
		position:relative;
		line-height: 100px;
		color:rgba(255, 255, 255, 0.85);
		&:not(:last-child) {
			margin-right: 30px;
		}

		&:after{
			content: '';
			width: 100%;
			position: absolute;
			opacity: 0.85;
			bottom: -2px;
			left:0;
			right:0;
			height: 1px;
			background: #fff;
			.transition(all 300ms ease-in-out);
		}

		&:hover {
			color: #fff;
			&:after {
				opacity: 1;
			}
		}

		
	}

	&__socials {
		display: inline-block;
		padding: 5px 0 20px;

	}

	&__copy{
		background: rgba(0,0,0,0.2);

		&-text{
			font-size: 13px;
			opacity: 0.6;
		}
	}

	&__numero{
		display: inline-block;
		line-height: 40px;
		img{
			width: 75px;
			vertical-align: middle;
			margin-top: -5px;
		}
	}

	&__numero, &__socials {
		width: 200px;
		float: right;
	}
}

@media(max-width: @screen-md){
	.footer {
		text-align: center;
		&__link {
			&:not(:last-child) {
				margin-right: 20px;
			}
		}
	}
}

@media(max-width: @screen-sm){

	.footer {
		padding-top:30px;
		&__link {
			line-height: 1.8em;
			display: block;
			margin-right: 0px !important;
			&:not(:first-child) {
				margin-top: 10px;
			}

			&:after{
				width: 60px;
				left:50%;
				margin-left: -30px;
			}

		}

		&__socials {
			padding: 10px 0 30px 0;
		}

		&__numero, &__socials {
			width: 100%;
			float: none;
		}
	}
}