/*
|
| Form group used to create bottom margin on inputs
| and used to highlight inputs in different states
| -----------------------------------------------------
| Example: 
|
| <div class="form-group">
|     <input type="text" class="input">
| </div>
|	  
*/

.form-group
{
	margin-bottom: 20px;

	&--horizontal{
		.input-label,
		.select2{
			display: inline-block;
			width: auto !important;
		}	
	}

	&--error{
		.input{
			border-color: @color-danger;
			color: @color-danger;
		}
	}

	&__label{
		font-size: 14px;
		margin-top: 8px;
		padding: 0 10px;

		&--error{
			color: @color-danger;
		}
	}
}

@media(max-width: @screen-xl){
	.form-group{
		margin-bottom: 25px;
	}
}