.body{
	background-color: @body-background-color;
}

.o-hidden{
	overflow: hidden !important;
}

.menu-opened{
	.hamburger{
		span{
			background-color: #fff !important;

			&:first-child{
				.transform(translateY(7px) rotate(45deg));
			}

			&:nth-child(2){
				width: 0;
			}

			&:last-child{
				.transform(translateY(-7px) rotate(-45deg));
			}
		}
	}
}

.nav-sticked{
	.hamburger{
		position: fixed;
		background-color: rgba(0, 0, 0, 0.07);
		top: 18px !important;
		.animation(slide-down @transition-duration);

		span{
			background-color: darken(#cac3c3, 15%);
		}
	}

	.navbar{
		top: 0;
		position: fixed;
		height: 90px;
		line-height: 90px;
		background-color: #fff;
		color: @brand-purple;
		.animation(slide-down @transition-duration);
		.box-shadow(0, 2px, 3px, rgba(0, 0, 0, 0.2));
		
		&__logo{
			line-height: 90px;
		}

		&__divider{
			background-color: rgba(0, 0, 0, 0.2);
		}

		&__dropdown {
			&-menu {

				&>a{
					background: #fff;
				}
				
			}
		}
		
		&__divider {
			 margin: 0 5px;
		}

		&:hover {

            .navbar__dropdown-menu{

                &> a {
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.08);
                    }
                }
            }
        }
	}
}

.nav-hidden{
	.hamburger, 
	.navbar {
		.animation(slide-up @transition-duration forwards);
	}
}

.filter-extended{

	.header__filter-btn{
		.icon-angle-down{
			.rotateX(180deg);
		}
	}

	.header__scroll-down-container{
		bottom: -100px;
	}
}

@media(max-width: @screen-sm){
	.nav-sticked{
		.hamburger{
			top: 19px !important;
		}
	}
}