/*
|
| Quickly transforming hamburger menu. Add transformed class with JS
| -----------------------------------------------------------------
| Example: 
|
| <button class="hamburger">
|     <span><span>
| 	  <span><span>
| 	  <span><span>
| </button>
|	  
*/

@hamHeight: 56px;
@hamWidth: 56px;
@hamBarHeight: 2px;
@hamBarColor: #fff;
@hamTop: 42px;
@hamLeft: 40px;

.hamburger{
	top: @hamTop;
	left: @hamLeft;
	position: absolute;
	display: inline-block;
	width: @hamWidth;
	height: @hamHeight;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
	z-index: @hamZIndex;
	.radius(50%);

	// Bars
	span{
		position: absolute;
		display: block;
		height: @hamBarHeight;
		background-color: @hamBarColor;
		left: 15px;
		.transition(~'
			all 300ms @{block-transition-easing}
		');

		// First bar
		&:first-child{
			top: 20px;
			width: 25px;
		}

		// Second bar
		&:nth-child(2){
			top: 50%;
			width: 16px;
			.translateY(-50%);
		}

		// Third bar
		&:last-child{
			bottom: 20px;
			width: 25px;
		}
	}
}

@media(max-width: @screen-sm){
	.hamburger{
		left: 25px;
	}
}
