.header{
	position: relative;
	width: 100%;
	color: #fff;
	overflow-y: hidden;

	height: 550px;

	// Background
	background-image: url('../img/header-bg.jpg');
	background-size: cover;

	&:after{
		content: '';
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		opacity: 0.9;
		z-index: 1;
		background-color: rgba(0, 0, 0, 0.6);
		//.brand-gradient();
	}


	// HEADER CONTENT
	&__content{
		z-index: 2;
		position: relative;
		min-height: 1px;
		max-width: 855px;
		margin: 0 auto;
	}

	// Search title
	&__title{
		font-size: 26px;
		font-family: 'MullerRegular';
		display: inline-block;
	}

	// Search container
	&__search{
		position: relative;
		margin: 30px 0;
	}

	.autocomplete-suggestions{
		background-color: #fff;
		color: #232323;
		text-align: left;
	}

	// Search input
	&__search-input{
		background-color: rgba(81, 40, 167, 0.23);
	}

	// Toggle filter
	&__filter-btn{
		position: relative;
		z-index: 1;
		font-size: 16px;
		margin-bottom: 30px;
		padding-right: 20px;

		.icon-angle-down{
			font-size: 10px;
			vertical-align: middle;
			display: inline-block;
			margin-left: 6px;
			.transition(transform 500ms ease-in-out);
		}
	}

	&__filter{
		position: absolute;
		z-index: 0;
		top: 100%;
		left: 0;
		width: 100%;
	}

	// INPUT MODIFIED ACCORDING TO HEADER
	
	&__input{
		background-color: rgba(81, 40, 167, 0.23);
	}

	&__scroll-down-container{
		position: absolute;
		bottom: 50px;
		z-index: 2;
		.transition(bottom 200ms ease-in-out);
		.centered-x;
	}
}

@media(max-width: @screen-xl){
	.header{
		&__title{
			font-size: 24px;
		}

		&__search{
			margin: 25px 0;
		}

		&__filter-btn{
			font-size: 18px;
		}
	}
}

@media(max-width: @screen-md){
	.header{
		padding: 200px 0 100px 0;
		height: auto;

		&__content{
			top: 0;
			.translate(0, 0);
		}

		&__filter{
			position: relative;
			top: 0;
		}

		&__search-btn{
			font-size: 21px;
		}

		&__title{
			font-size: 20px;
		}

		&__filter-btn{
			font-size: 16px;
		}

		&__scroll-down-container{
			display: none;
		}
	}
}