[class^="icon-"], [class*=" icon-"], .icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@icon-osto_logo: "\e900";
@icon-edit-pen: "\e901";
@icon-rubbish-can: "\e902";
@icon-sign-in: "\e903";
@icon-angle-down: "\e904";
@icon-angle-left: "\e905";
@icon-angle-right: "\e906";
@icon-checkbox-tick: "\e907";
@icon-dislike-filled: "\e908";
@icon-dislike: "\e909";
@icon-eye: "\e90a";
@icon-facebook: "\e90b";
@icon-instagram: "\e90c";
@icon-like-filled: "\e90d";
@icon-like: "\e90e";
@icon-linked-in: "\e90f";
@icon-next: "\e910";
@icon-prev-bottom: "\e911";
@icon-prev-top: "\e912";
@icon-prev: "\e913";
@icon-search-main: "\e914";
@icon-search-nav: "\e915";
@icon-twitter: "\e916";
@icon-user: "\e917";
@icon-kids-clothing: "\e918";
@icon-mens-clothing: "\e919";
@icon-watches-jewelery: "\e91b";
@icon-womens-clothing: "\e91c";
@icon-grid: "\e91d";
@icon-list: "\e91e";
@icon-star: "\e91f";
@icon-business: "\e920";
@icon-plus-icon: "\e921";
@icon-shoes-icon: "\e922";

.icon-osto_logo {
  &:before {
    content: @icon-osto_logo;
  }
}
.icon-edit-pen {
  &:before {
    content: @icon-edit-pen;
  }
}
.icon-rubbish-can {
  &:before {
    content: @icon-rubbish-can;
  }
}
.icon-sign-in {
  &:before {
    content: @icon-sign-in;
  }
}
.icon-angle-down {
  &:before {
    content: @icon-angle-down;
  }
}
.icon-angle-left {
  &:before {
    content: @icon-angle-left;
  }
}
.icon-angle-right {
  &:before {
    content: @icon-angle-right;
  }
}
.icon-checkbox-tick {
  &:before {
    content: @icon-checkbox-tick;
  }
}
.icon-dislike-filled {
  &:before {
    content: @icon-dislike-filled;
  }
}
.icon-dislike {
  &:before {
    content: @icon-dislike;
  }
}
.icon-eye {
  &:before {
    content: @icon-eye;
  }
}
.icon-facebook {
  &:before {
    content: @icon-facebook;
  }
}
.icon-instagram {
  &:before {
    content: @icon-instagram;
  }
}
.icon-like-filled {
  &:before {
    content: @icon-like-filled;
  }
}
.icon-like {
  &:before {
    content: @icon-like;
  }
}
.icon-linked-in {
  &:before {
    content: @icon-linked-in;
  }
}
.icon-next {
  &:before {
    content: @icon-next;
  }
}
.icon-prev-bottom {
  &:before {
    content: @icon-prev-bottom;
  }
}
.icon-prev-top {
  &:before {
    content: @icon-prev-top;
  }
}
.icon-prev {
  &:before {
    content: @icon-prev;
  }
}
.icon-search-main {
  &:before {
    content: @icon-search-main;
  }
}
.icon-search-nav {
  &:before {
    content: @icon-search-nav;
  }
}
.icon-twitter {
  &:before {
    content: @icon-twitter;
  }
}
.icon-user {
  &:before {
    content: @icon-user;
  }
}
.icon-kids-clothing {
  &:before {
    content: @icon-kids-clothing;
  }
}
.icon-mens-clothing {
  &:before {
    content: @icon-mens-clothing;
  }
}
.icon-watches-jewelery {
  &:before {
    content: @icon-watches-jewelery;
  }
}
.icon-womens-clothing {
  &:before {
    content: @icon-womens-clothing;
  }
}
.icon-grid {
  &:before {
    content: @icon-grid;
  }
}
.icon-list {
  &:before {
    content: @icon-list;
  }
}
.icon-star {
  &:before {
    content: @icon-star;
  }
}
.icon-business {
  &:before {
    content: @icon-business;
  }
}
.icon-plus-icon {
  &:before {
    content: @icon-plus-icon;
  }
}
.icon-shoes-icon {
  &:before {
    content: @icon-shoes-icon;
  }
}

