/*
|
| Basic input reused everywhere.
| -----------------------------------------------------
| Example: <input type="text" class="input">
| 		  
*/

@input-padding: 12px;

.input{
	width: 100%;
	padding: @input-padding;
	font-size: 16px;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0);
	.radius(4px);

	.placeholder({
		color: rgba(255, 255, 255, 0.5);
	});

	&--white{
		background-color: #fff;
		color: #847f7f;

		.placeholder({ color: #847f7f });
	}

	&--gray{
		background-color: #f7f7f7;
		color: #232323;
		.box-shadow(0, 0, 5px, rgba(21,21,20,0.2));

		.placeholder({ color: #232323 });
	}
	
	&--textarea{
		height: 120px;
	}
}

.input-label{
	padding-bottom: 12px;
	font-size: 16px;
	display: inline-block;
	font-family: 'MullerMedium';
	.user-select(none);
}

.select-container{
	position: relative;

	.input{
		padding-right: 30px;
		cursor: pointer;
	}

	&:after{
		content: '';
		display: block;
		position: absolute;
		right: 0;
		width: 30px;
		content: "@{icon-angle-down}";
		text-align: center;
		/* use !important to prevent issues with browser extensions that change fonts */
		font-family: 'icomoon' !important;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		font-size: 9px;
		.user-select(none);
		.centered-y;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		pointer-events: none;
		.opacity(50);
	}
}