@keyframes rotate{
	0%{
		transform: rotate(0deg);
	}

	100%{
		transform: rotate(360deg);
	}
}

@-webkit-keyframes rotate{
	0%{
		-webkit-transform: rotate(0deg);
	}

	100%{
		-webkit-transform: rotate(360deg);
	}
}

@-o-keyframes rotate{
	0%{
		-o-transform: rotate(0deg);
	}

	100%{
		-o-transform: rotate(360deg);
	}
}

@-moz-keyframes rotate{
	0%{
		-moz-transform: rotate(0deg);
	}

	100%{
		-moz-transform: rotate(360deg);
	}
}

@-ms-keyframes rotate{
	0%{
		-ms-transform: rotate(0deg);
	}

	100%{
		-ms-transform: rotate(360deg);
	}
}
