.layout-link{
	position: relative;
	font-size: 18px;
	font-family: 'MullerMedium';
	display: inline-block;
	margin-bottom: round(@layout-padding-y / 1.5);
	.transition(color @transition-duration @transition-ease);

	&:hover{
		color: @brand-purple;

		&:after{
			border-color: @brand-purple;
			.translate3d(0, 3px, 0);
		}
	}

	&:after{
		content: '';
		position: absolute;
		bottom: -3px;
		left: 0;
		width: 100%;
		border-bottom: 1px solid #232323;
		.transition(all @transition-duration);
	}
}

@media(max-width: @screen-xl){
	.layout-link{
		font-size: 16px;
	}
}