.likes{
	display: inline-block;
	.translate3d(0, 0, 0);

	&.is-liked{
		.icon-like:before{
			content: @icon-like-filled;
		}
	}

	&.is-disliked{
		.icon-dislike:before{
			content: @icon-dislike-filled;
		}
	}

	&--white{
		color: #fff;
	}

	&--default{
		i{
			color: @brand-purple;
		}
	}

	&__item{
		cursor: pointer;
		display: inline-block;
		padding: 0 10px;

		&--first{
			border-right: 1px solid #b7b7b7;
		}
	}

	i, span{
		font-size: 16px;
	}
}