.login{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: @loginZIndex;

	&__close{
		position: absolute;
		font-size: 56px;
		font-weight: 300;
		color: #fff;
		display: inline-block;
		right: @hamLeft;
		top: 30px;
	}

	&__content{
		position: absolute;
		color: #fff;
		max-width: 360px;
	}

	&__title{
		margin-bottom: 30px;
	}

	&__input-label{
		font-family: 'MullerMedium';
		font-size: 20px;
		margin-bottom: 10px;
		display: inline-block;
	}

	&__input{
		font-family: 'MullerMedium';
		font-size: 20px;
		background: rgba(255, 255, 255, 0.1);
		.transition(box-shadow @transition-duration @transition-ease);
	}
}

@media(max-width: @screen-sm){
	.login{
		&__content{
			max-width: auto;
			width: 100%;
			padding: 0;
		}

		&__close{
			right: 30px;
			top: 15px;
		}
	}
}