.grid{
	margin: 0 -7.5px;

	&__item{
		width: 25%;
		padding-left: 7.5px;
		padding-right: 7.5px;
	}
}

@media(max-width: @screen-md)
{
	.grid__item{
		width: 33.333%;
	}
}

@media(max-width: @screen-sm)
{
	.grid__item{
		width: 50%;
	}
}