.menu{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: @menuZIndex;

	&__nav{
		width: 60%;
		position: absolute;
		left: 15%;
	}

	&__item{
		position: relative;
		left: -50px;
		margin-bottom: 40px;
		left: -30px;
		.opacity(0);

		&--last{
			margin-bottom: 0 !important;
		}
	}

	&__link{
		color: #fff;
		font-size: 34px;
		font-family: 'MullerBold';
		display: inline-block;
		.transition(transform @transition-duration @transition-ease);

		&.is-active{
			color: @brand-yellow;

			&:before{
				content: '- ';
			}

			&:hover{
				.translate3d(0, 0, 0);
			}
		}

		&:hover{
			color: @brand-yellow;
			.translate3d(5px, 0, 0);
		}
	}
}

@media(max-width: @screen-xl){
	.menu{
		&__link{
			.size-xl(font-size, 50px);
		}
	}
}

@media(max-width: @screen-md){
	.menu{
		&__item{
			margin-bottom: 32px;
		}

		&__link{
			font-size: 32px;
		}
	}
}

@media(max-width: @screen-sm){
	.menu{
		&__nav{
			width: 100%;
			left: 50px;
			right: 50px;
		}

		&__item{
			margin-bottom: 24px;
		}

		&__link{
			font-size: 25px;
		}
	}
}