.min-height{
	min-height: 100vh;
	margin-bottom: -@footer-computed-height;
	padding-bottom: round(@footer-computed-height * 1.4);
}

@media(max-width: @screen-md){
	.min-height{
		margin-bottom: -@footer-computed-height-md;
		padding-bottom: round(@footer-computed-height-md * 1.5);
	}
}