.radius(@radius)
{
	-webkit-border-radius: @radius;
	   -moz-border-radius: @radius;
	        border-radius: @radius;
}

.transition(@properties)
{
	-webkit-transition: @properties;
	   -moz-transition: @properties;
	    -ms-transition: @properties;
	     -o-transition: @properties;
	        transition: @properties;
}

.transition-delay(@delay)
{
	-webkit-transition-delay: @delay;
	   -moz-transition-delay: @delay;
	    -ms-transition-delay: @delay;
	     -o-transition-delay: @delay;
	        transition-delay: @delay;
}

.transition-duration(@duration)
{
	-webkit-transition-duration: @duration;
	   -moz-transition-duration: @duration;
	    -ms-transition-duration: @duration;
	     -o-transition-duration: @duration;
	        transition-duration: @duration;
}

.translate(@px, @py)
{
	-webkit-transform: translate(@px, @py);
	   -moz-transform: translate(@px, @py);
	    -ms-transform: translate(@px, @py);
	     -o-transform: translate(@px, @py);
	        transform: translate(@px, @py);
}

.translate3d(@px, @py, @pz)
{
	-webkit-transform: translate3d(@px, @py, @pz);
	   -moz-transform: translate3d(@px, @py, @pz);
	    -ms-transform: translate3d(@px, @py, @pz);
	     -o-transform: translate3d(@px, @py, @pz);
	        transform: translate3d(@px, @py, @pz);
}

.translateX(@px)
{
	-webkit-transform: translateX(@px);
	   -moz-transform: translateX(@px);
	    -ms-transform: translateX(@px);
	     -o-transform: translateX(@px);
	        transform: translateX(@px);
}

.translateY(@px)
{
	-webkit-transform: translateY(@px);
	   -moz-transform: translateY(@px);
	    -ms-transform: translateY(@px);
	     -o-transform: translateY(@px);
	        transform: translateY(@px);
}

.translateZ(@px)
{
	-webkit-transform: translateZ(@px);
	   -moz-transform: translateZ(@px);
	    -ms-transform: translateZ(@px);
	     -o-transform: translateZ(@px);
	        transform: translateZ(@px);
}

.rotate(@deg)
{
	-webkit-transform: rotate(@deg);
	   -moz-transform: rotate(@deg);
	    -ms-transform: rotate(@deg);
	     -o-transform: rotate(@deg);
	        transform: rotate(@deg);
}

.rotate3d(@rx, @ry, @rz)
{
	-webkit-transform: rotate3d(@rx, @ry, @rz);
	   -moz-transform: rotate3d(@rx, @ry, @rz);
	    -ms-transform: rotate3d(@rx, @ry, @rz);
	     -o-transform: rotate3d(@rx, @ry, @rz);
	        transform: rotate3d(@rx, @ry, @rz);
}

.rotateX(@deg)
{
	-webkit-transform: rotateX(@deg);
	   -moz-transform: rotateX(@deg);
	    -ms-transform: rotateX(@deg);
	     -o-transform: rotateX(@deg);
	        transform: rotateX(@deg);
}

.rotateY(@deg)
{
	-webkit-transform: rotateY(@deg);
	   -moz-transform: rotateY(@deg);
	    -ms-transform: rotateY(@deg);
	     -o-transform: rotateY(@deg);
	        transform: rotateY(@deg);
}

.rotateZ(@deg)
{
	-webkit-transform: rotateZ(@deg);
	   -moz-transform: rotateZ(@deg);
	    -ms-transform: rotateZ(@deg);
	     -o-transform: rotateZ(@deg);
	        transform: rotateZ(@deg);
}

.scale(@times)
{
    -webkit-transform: scale(@times);
	   -moz-transform: scale(@times);
	    -ms-transform: scale(@times);
	     -o-transform: scale(@times);
	        transform: scale(@times);
}

.scale3d(@sx, @sy, @sz)
{
    -webkit-transform: scale3d(@sx, @sy, @sz);
	   -moz-transform: scale3d(@sx, @sy, @sz);
	    -ms-transform: scale3d(@sx, @sy, @sz);
	     -o-transform: scale3d(@sx, @sy, @sz);
	        transform: scale3d(@sx, @sy, @sz);
}

.scaleX(@times)
{
    -webkit-transform: scaleX(@times);
	   -moz-transform: scaleX(@times);
	    -ms-transform: scaleX(@times);
	     -o-transform: scaleX(@times);
	        transform: scaleX(@times);
}

.scaleY(@times)
{
    -webkit-transform: scaleY(@times);
	   -moz-transform: scaleY(@times);
	    -ms-transform: scaleY(@times);
	     -o-transform: scaleY(@times);
	        transform: scaleY(@times);
}

.scaleZ(@times)
{
    -webkit-transform: scaleZ(@times);
	   -moz-transform: scaleZ(@times);
	    -ms-transform: scaleZ(@times);
	     -o-transform: scaleZ(@times);
	        transform: scaleZ(@times);
}

.skew(@ax, @ay){
	-webkit-transform: skew(@ax, @ay);
	   -moz-transform: skew(@ax, @ay);
	    -ms-transform: skew(@ax, @ay);
	     -o-transform: skew(@ax, @ay);
	        transform: skew(@ax, @ay);
}

.skewX(@angle){
	-webkit-transform: skew(@angle);
	   -moz-transform: skew(@angle);
	    -ms-transform: skew(@angle);
	     -o-transform: skew(@angle);
	        transform: skew(@angle);
}

.skewY(@angle){
	-webkit-transform: skew(@angle);
	   -moz-transform: skew(@angle);
	    -ms-transform: skew(@angle);
	     -o-transform: skew(@angle);
	        transform: skew(@angle);
}

.transform(@properties)
{
	-webkit-transform: @properties;
	   -moz-transform: @properties;
	    -ms-transform: @properties;
	     -o-transform: @properties;
	        transform: @properties;
}

.transform-origin(@origin)
{
    -webkit-transform-origin: @origin;
    transform-origin: @origin;
}

.animation(@properties)
{
	// --- Order ---
	// name, duration, easing, delay, iteration, direction

	-webkit-animation: @properties;
	   -moz-animation: @properties;
	    -ms-animation: @properties;
	     -o-animation: @properties;
	        animation: @properties;
}

.text-shadow(@horizontal, @vertical, @blur, @color)
{
	-webkit-text-shadow: @horizontal @vertical @blur @color;
	   -moz-text-shadow: @horizontal @vertical @blur @color;
	    -ms-text-shadow: @horizontal @vertical @blur @color;
	     -o-text-shadow: @horizontal @vertical @blur @color;
	        text-shadow: @horizontal @vertical @blur @color;
}

.box-shadow(@horizontal, @vertical, @blur, @color)
{
	-webkit-box-shadow: @horizontal @vertical @blur @color;
	   -moz-box-shadow: @horizontal @vertical @blur @color;
	    -ms-box-shadow: @horizontal @vertical @blur @color;
	     -o-box-shadow: @horizontal @vertical @blur @color;
	        box-shadow: @horizontal @vertical @blur @color;
}

.placeholder(@rules) 
{
    &::-webkit-input-placeholder 
    {
        @rules();
    }

    &:-moz-placeholder 
    {
        @rules();
    }

    &::-moz-placeholder 
    {
        @rules();
    }

    &:-ms-input-placeholder 
    {
        @rules();
    }
}

.user-select(@select: none)
{
	-webkit-user-select: @select;
	-moz-user-select: @select;
	-ms-user-select: @select;
	-o-user-select: @select;
	user-select: @select;
}

.background-size(@select)
{
	-webkit-background-size: @select;
	-moz-background-size: @select;
	-ms-background-size: @select;
	-o-background-size: @select;
	background-size: @select;
}

.opacity(@opacity)
{
	@opa: @opacity / 100;
	-webkit-opacity: @opa;
	-moz-opacity: @opa;
	opacity: @opa;
    -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=@{opa})';
    -khtml-opacity: @opa;
    filter: alpha(opacity=@opa);
}

.border-top-radius(@radius){
	-webkit-border-top-left-radius: @radius;
	   -moz-border-top-left-radius: @radius;
	        border-top-left-radius: @radius;
	-webkit-border-top-right-radius: @radius;
	   -moz-border-top-right-radius: @radius;
	        border-top-right-radius: @radius;
}

.border-bottom-radius(@radius){
	-webkit-border-bottom-left-radius: @radius;
	   -moz-border-bottom-left-radius: @radius;
	        border-bottom-left-radius: @radius;
	-webkit-border-bottom-right-radius: @radius;
	   -moz-border-bottom-right-radius: @radius;
	        border-bottom-right-radius: @radius;
}

.border-left-radius(@radius){
	-webkit-border-bottom-left-radius: @radius;
	   -moz-border-bottom-left-radius: @radius;
	        border-bottom-left-radius: @radius;
	-webkit-border-top-left-radius: @radius;
	   -moz-border-top-left-radius: @radius;
	        border-top-left-radius: @radius;
}

.border-right-radius(@radius){
	-webkit-border-bottom-right-radius: @radius;
	   -moz-border-bottom-right-radius: @radius;
	        border-bottom-right-radius: @radius;
	-webkit-border-top-right-radius: @radius;
	   -moz-border-top-right-radius: @radius;
	        border-top-right-radius: @radius;
}


.filter(@value)
{
	-webkit-webkit-filter: @value;
	-moz-webkit-filter: @value;
	-ms-webkit-filter: @value;
	-o-webkit-filter: @value;
	filter: @value;
}

.appearance(@val)
{
	-webkit-appearance: @val;
	-moz-appearance: @val;
}






