.modal{
	position: fixed;
	background-color: rgba(45, 45, 45, 0.7);
	z-index: @modalZIndex;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 25px;

	&__content{
		position: relative;
		padding: 25px;
		max-width: 650px;
		min-height: 1px;
		background-color: #fff;
		margin: 0 auto;
		border-top: 5px solid @brand-purple;
		opacity: 0;
		.translateY(-25px);
		.border-bottom-radius(5px);
		.transition(all @modal-content-slide-duration);

		&--in{
			opacity: 1;
			.translateY(0);
		}
	}

	&__header{
		padding-bottom: 10px;
		font-size: 18px;
		font-family: 'MullerMedium';
	}

	&__dismisser{
		position: absolute;
		top: 20px;
		right: 25px;
		font-size: 24px;
		width: 30px;
		height: 30px;
		line-height: 33px;
		background-color: rgba(0, 0, 0, 0.12);
		.radius(50%);

		&:hover{
			background-color: @brand-purple;
			color: #fff;
		}
	}

	&__footer{
		padding-top: 20px;
	}
}