@navbarHeight: 142px;

.navbar{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: @navbarHeight;
	line-height: @navbarHeight;
	color: #fff;
    z-index: @navbarZIndex;

    &__logo, &__divider, i{
        vertical-align: middle;
    }

	// Brand Logotype
	&__logo{
		font-size: 64px;
		display: inline-block;
	}

	&__right{
		margin-right: @hamLeft;
	}

    &__sign-in,
    &__logout{
        i {
            font-size: 30px;
            margin-right: 5px;
        }
    }

    &__username{
        font-family: 'MullerMedium';
    }

    &__divider {
        display: inline-block;
        width: 1px;
        height: 15px;
        margin: 0 10px;
        background-color: rgba(255, 255, 255, 0.3);
    }

    &__dropdown {
        position: relative;
        display: inline-block;
        line-height: 35px;
        border: 1px solid transparent;
        .transition(all 300ms);

        i{
            font-size: 10px;
        }
        
        &-title{
            padding: 0 7px;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: block;
            cursor: pointer;
        }


        &-menu {
            position: absolute;
            z-index: 99;
            top: 100%;
            left: -1px;
            right: -1px;
            margin-top: -1px;
            min-width: 100%;
            .transition(all 300ms);

            &> a {
                padding: 0 10px;
                line-height: 30px;
                max-height: 0;
                overflow: hidden;
                white-space: nowrap;
                display: block;
                .transition(all 300ms);
            }
        }

        &:hover {

            .navbar__dropdown-menu{
                background-color: rgba(255, 255, 255, 0.2);
                &> a {
                    max-height: 40px;
                    &:hover {
                        background-color: rgba(255, 255, 255, 0.1);
                    }
                }
            }
        }

    }
}	

@keyframes slide-down {
    0% {
        .opacity(0);
        transform: translateY(-100%);
    } 

    100% {
        .opacity(100);
        transform: translateY(0);
    } 
}

@-webkit-keyframes slide-down {
    0% {
        .opacity(0);
        -webkit-transform: translateY(-100%);
    } 

    100% {
        .opacity(100);
        -webkit-transform: translateY(0);
    } 
}

@-webkit-keyframes slide-up {
    0% {
        .opacity(100);
        -webkit-transform: translateY(0);
    } 
    100% {
        .opacity(0);
        -webkit-transform: translateY(-100%);
    } 
}

@keyframes slide-up {
    0% {
        .opacity(100);
        transform: translateY(0);
    } 
    100% {
        .opacity(0);
        transform: translateY(-100%);
    } 
}

@media(max-width: @screen-sm){
    .navbar{
        &__logo{
            font-size: 50px !important;
        }

        &__user-btn{
            margin-right: 25px;
        }
    }
}
