.pagination{
	display: inline-block;
	background-color: #fff;
	.small-shade;
	.user-select(none);
	.radius(4px);

	> li{
		float: left;

		&.disabled{
			.opacity(30);
			cursor: not-allowed;

			&:hover{
				a{
					background-color: #fff !important;
					pointer-events: none;
				}
			}
		}

		&.active{
			background-color: @brand-purple;
			color: #fff;
		}
	}

	span, a{
		display: block;
		padding: 12px 16px;

		&:hover{
			background-color: rgba(0, 0, 0, 0.05);
		}
	}
}