.preloader{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.8);
	z-index: @preloaderZIndex;

	&__circle{
		position: absolute;
		width:36px;
		height:36px;
		border:2px solid;
		left: 50%;
		top: 50%;
		margin: -18px 0 0 -18px;

		border-top-color:@brand-purple;
		border-bottom-color:@brand-purple;
		border-left-color:rgba(0,0,0, 0.10);
		border-right-color:rgba(0,0,0, 0.10);

		-webkit-animation: preloader 0.8s ease-in-out infinite alternate;
		animation: preloader 0.8s ease-in-out infinite alternate;
		.radius(50%);
	}
}

@keyframes preloader {
   from {transform: rotate(0deg);}
   to {transform: rotate(360deg);}
}
@-webkit-keyframes preloader {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(360deg);}
}