.product-inner{
	&__slider-nav{
		position: relative;
		padding: 0 40px;
		margin-top: 20px;
	}

	&__slider-arrow{
		color: #b5b4b4;
		font-size: 32px;
		display: inline-block;
		position: absolute;
		.centered-y;

		&--prev{
			left: 0;
		}

		&--next{
			right: 0;
		}
	}

	&__slider-nav-item{
		display: inline-block;
		margin: 0 10px;
		cursor: pointer;
		overflow: hidden;
        width: 58px;
		height: 58px !important;
		background: #fff no-repeat center;
		background-size: 90%; 
		opacity: 0.5;
		.radius(5px);

		&:hover, &.slick-current{
			opacity: 1;
		}
	}

	&__slider{
		background-color: #fff;
		height: 300px;
		.radius(5px);

		.slick-list, 
		.slick-track{
			height: 100%;
		}
	}

	&__slider-item{
		position: relative;
		text-align: center;
		background: no-repeat center;
		background-size: 60%;
		height: 100%;
	}

	&__favourite {
		cursor: pointer;
		position: absolute;
		background-color: rgba(0, 0, 0, 0.5);
		color:#fff;
		z-index: 90;
		top: 15px;
		left: 30px;
		padding: 5px 10px;
		font-size: 14px;
		display:inline-block;
		.transition(all 300ms ease-in-out);

		&:hover{
			background-color: rgba(0, 0, 0, 0.75);
		}
	}

	&__info{
		padding: 0 25px;
		font-size: 16px;
	}

	&__info-subtitle{
		font-family: 'MullerMedium';
	}

	&__info-category{
		font-family: 'MullerLight';
		padding: 18px 0;
	}

	&__info-likes{
		margin: 0 -10px;
	}

	&__info-text{
		font-family: 'MullerLight';
		padding: 18px 0 25px 0;
		line-height: 1.25em;
	}

	&__info-sizes{
		display: inline-block;
		font-family: 'MullerLight';
		padding: 10px 0 30px 0;
		vertical-align: middle;
		.user-select(none);

		input{
			display: none;

			&:checked{
				+ span{
					border-color: #232323;
					cursor: default;
				}
			}
		}

		span{
			display: inline-block;
			cursor: pointer;
			padding: 0 10px;
			height: 30px;
			line-height: 30px;
			border: 1px solid transparent;
			vertical-align: middle;
			.radius(5px);

			&:hover{
				background-color: rgba(0, 0, 0, 0.01);
				border-color: rgba(0, 0, 0, 0.2);
			}
		}
	}

	&__info-colors{
		display: inline-block;
		padding-top: 10px;
		.user-select(none);

		input{
			display: none;

			&:checked{
				+ span{
					cursor: default;
					border-color: #f14848;

					&:hover{
						.opacity(100);
					}
				}
			}
		}

		span{
			cursor: pointer;
			display: inline-block;
			width: 40px;
			height: 40px;
			border: 2px solid transparent;
			margin-right: 10px;
			.radius(5px);

			&:hover{
				.opacity(80);
			}
		}
	}

	// Right sidebar

	&__sidebar{
		
	}

	&__price{
		background-color: #fff;
		text-align: center;
		padding: 15px 0;
		font-family: 'MullerMedium';
		font-size: 24px;
		color: @brand-purple;
		margin-bottom: 15px;
	}


	&__shop-info{
		margin-top: 50px;
		background-color: #fff;
		padding: 18px;
		font-size: 20px;
		width: 100%;
	}

	&__shop-thumb{
		margin-top: -50px;
		float: left;
        margin-right: 10px;
		background-color: lighten(#ccc, 10%);
		.radius(3px);
	}

	&__shop-title{
		font-family: 'MullerMedium';
		color: @brand-purple;
		font-size: 16px;
        overflow: hidden;
	}

	&__shop-worktime{
		float: left;
		width: 100%;
		padding-top: 15px;
        padding-bottom: 5px;
		font-family: 'MullerMedium';
		font-size: 16px;
		overflow: hidden;
	}

	&__shop-worktime-dates{
		padding-bottom: 15px;
		font-family: 'MullerMedium';
		font-size: 16px;

		span{
			padding-left: 25px;
		}
	}

	// Bottom part

	&__tabs{
		margin-bottom: 40px;
	}

	&__tab{
		font-size: 24px;
		font-family: 'MullerMedium';
		color: #93979c;
		display: inline-block;
		padding-right: 25px;
		cursor: pointer;

		&:after{
			content: '|';
			display: inline-block;
			padding-left: 25px;
		}

		&--last{
			&:after{
				display: none;
			}
		}

		&.is-active, &:hover{
			color: #232323;
		}
	}

	&__tab-content{
		display: none;

		&.is-active{
			display: block;
		}
	}

	&__review-title{
		margin-bottom: 30px;
	}

	&__review-input{
		height: 150px;
	}

	&__map{
		height: 450px;
		.radius(5px);
	}
}

@media(max-width: @screen-md){
	.product-inner{
		&__info{
			padding-right: 0;
			padding-left: 0;
		}

		&__info-colors{
			padding-bottom: 30px;
		}

		&__tabs{
			margin-bottom: 20px;
		}

		&__tab{
			font-size: 18px;
		}

		&__review-title{
			margin-bottom: 20px;
		}

		&__slider-nav{
			margin-bottom: 20px;
		}
	}
}

@media(max-width: @screen-sm){
	.product-inner{
		&__tabs{
			text-align: center;
		}

		&__tab{
			font-size: 16px;
		}
	}
}