/*
|
| Basic radio 
| -----------------------------------------------------
| Example: 
| 
| <label class="radio">
|     <input type="radio" name="radio">
|	  <span>Your radio label</span>
| </label> 
| 		  
|
*/

.radio{
	position: relative;
	display: inline-block;
	cursor: pointer;
	.user-select(none);
	
	input{
		display: none;

		&:checked{
			+ span{
				&:after{
					.scale(1);
				}
			}
		}
	}

	span{
		&:before{
			content: '';
			width: 20px;
			height: 20px;
			background-color: #fff;
			display: inline-block;
			margin-right: 10px;
			vertical-align: middle;
			.radius(50%);
			.box-shadow(0, 0, 5px, rgba(21,21,20,0.3));
		}

		&:after{
			content: '';
			position: absolute;
			width: 6px;
			height: 6px;
			left: 7px;
			top: 8px;
			background-color: @brand-purple;
			.transition(transform 200ms ease-in-out);
			.scale(0);
			.radius(50%);
		}
	}

	&:disabled{
		
	}
}