.register{
	background-color: @brand-purple;
	position: relative;	
	z-index: 0;
	padding-top: 40px;	

	&:before{
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background: url(../img/register-bg.jpg) no-repeat center;
		background-size: cover;
		will-change: transform;
	}

	&__panel{
		background-color: #fff;
		.radius(5px);
	}

	&__tab{
		width: 100%;
		overflow: hidden;
		background-color: @brand-purple;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-top-left-radius: 5px;
		-moz-border-top-right-radius: 5px;
	}

	&__tab-item{
		width: 50%;
		float: left;
		background-color: @brand-purple;
		text-align: center;
		color: #fff;
		padding: 18px 0;
		cursor: pointer;
		font-family: 'MullerMedium';

		&:not(.is-active):hover{
			background-color: lighten(@brand-purple, 5%);
		}

		&.is-active{
			background-color: #fff;
			color: @brand-purple;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			-webkit-border-top-left-radius: 5px;
			-webkit-border-top-right-radius: 5px;
			-moz-border-top-left-radius: 5px;
			-moz-border-top-right-radius: 5px;
		}
	}
	
	// Panel body

	&__panel-body{
		padding: 20px;
	}

	&__tab-content{
		display: none;

		&.is-active{
			display: block;
		}
	}

	&__agreement-note{
		padding: 35px 0 15px 0;
	}

	// Right side
	&__content{
		position: relative;
		padding: 100px 30px;
		display: none;

		&.is-active{
			display: block;
		}
	}

	&__title{
		color: #fff;
		font-size: 32px;
		line-height: 1.2;
		padding-bottom: 50px;
		text-transform: uppercase;
		font-family: 'MullerBold';ы

	br{
			line-height: 0;
		}
	}

	&__info-item{
		position: relative;
		font-size: 18px;
		color: #fff;
		text-align: left;
		margin-bottom: 35px;
	}

	&__info-checkbox{
		padding-left: 50px;

		span{
			position: absolute;
			width: 25px;
			height: 25px;
			background-color: @brand-purple;
			vertical-align: middle;
			text-align: center;
			font-size: 18px;
			left: 0;
			.centered-y;
			.radius(5px);
			.small-shade;

			&:before{
				position: absolute;
				left: 5px;
				top: 0;
			}
		}
	}
}

@media(max-width: @screen-md){
	.register{
		&__title{
			padding-bottom: 35px;
			font-size: 28px;
		}

		&__content{
			padding: 40px 0 0;
		}
	}
}