.search{
	&__sidebar{
		background-color: #f1f1f1;
		padding: 20px;
		margin-bottom: 30px;
		.transition(margin @transition-duration @transition-ease);
		.box-shadow(0, 2px, 3px, rgba(21, 21, 20, 0.2));
		.radius(5px);
	}

	.autocomplete-suggestions{
		background-color: #fff;
		.small-shade;
	}
	
	&__stats{
		font-size: 20px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

@media(max-width: @screen-xl){
	.search{
		&__sidebar{
			margin-bottom: 20px;
		}

		&__stats{
			font-size: 18px;
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}

}