.socials{
	display: inline-block;

	&__item{
		margin: 0 15px;
		display: inline-block;
	}

	&__link{
		font-size: 18px;
		display: block;
		.transition(opacity @transition-duration @transition-ease);
		.opacity(75);
	}

	&--white{
		.socials__item{
			color: #fff;
		}

		.socials__link{
			&:hover{
				.opacity(100);
			}
		}
	}
}