.tip{
	position: relative;
	display: inline-block;

	&--bottom{
		.tip__content{
			right: 10px;
			top: 40px;
			.translate(50%, 10px);

			&:after{
				left: 0;
				top: -16px;
				left: 50%;
				.box-shadow(2px, -3px, 4px, rgba(21,21,20,0.12));
				.transform(rotate(-45deg) translateX(-50%));
			}
		}

		&.is-active{
			.tip__content{
				opacity: 1;
				visibility: visible;
				.translate(50%, 0);
			}
		}
	}

	&--right{
		.tip__content{
			right: -50px;
			top: 50%;
			.translate(100%, -50%);

			&:after{
				top: 50%;
				left: -16px;
				.box-shadow(-2px, 3px, 4px, rgba(21,21,20,0.12));
				.transform(rotate(45deg) translateY(-50%));
			}
		}

		&.is-active{
			.tip__content{
				opacity: 1;
				visibility: visible;
				right: -20px;
				.translate(100%, -50%);
			}
		}
	}


	&__label{
		font-size: 18px;
		padding-right: 4px;
	}

	&__btn{
		width: 20px;
		height: 20px;
		background-color: @brand-purple;
		color: #fff;
		line-height: 22px;
		font-size: 14px;
		font-family: 'MullerBold';
		.radius(5px);
	}

	&__content{
		position: absolute;
		background-color: #fff;
		max-width: 280px;
		min-width: 200px;
		display: inline-block;
		padding: 8px 15px;
		font-size: 14px;
		z-index: 4;
		visibility: hidden;
		opacity: 0;
		.radius(6px);
		.box-shadow(0, 0, 5px, rgba(21,21,20,0.3));
		.transition(all 200ms);

		&:after{
			content: '';
			position: absolute;
			width: 12px;
			height: 12px;
			background-color: #fff;
			z-index: -1;
			-webkit-transform-origin: 100% 100%;
		}
	}
}

@media(max-width: @screen-sm){

}