/*
|
| Title
| -----------------------------------------------------------------------
| Example: <h1 class="title">Your title</h1>
|	  
*/

.title{
	display: inline-block;
	font-size: 24px; // was 28 before
	font-family: 'MullerMedium';

	&--dark{
		color: #232323;
	}

	&--light{
		color: #fff;
	}

	&--layout{
		padding-bottom: round(@layout-padding-y / 1.5);
	}
}

@media(max-width: @screen-md){
	.title{
		font-size: 20px;

		&--layout{
			padding-bottom: 20px;
		}
	}
}
