/*
 * Responsive viewport sizes
 */

@screen-xl: 1200px;
@screen-lg: 1024px;
@screen-md: 992px;
@screen-sm: 768px;
@screen-xs: 450px;

@xl-factor: 0.75;

.size-xl(@prop, @val){
	@{prop}: round(@val * @xl-factor);
}


/*
 * Base font styles
 */

@base-font-family: 'MullerRegular', sans-serif, Arial, verdana;
@base-font-size: 16px;
@base-font-color: #232323;

/*
 * Icommon font path
 */

@icomoon-font-path: '../fonts';

/*
 * Body color
 */

@body-background-color: #f7f7f7;

// Colors
@brand-purple: #6b37a8;
@brand-yellow: #ffe808;
@color-success: #19ae39;
@color-danger: #fb3b3b;

// Brand gradient

.brand-gradient(){
	background: rgb(138,58,206);
	background: -moz-linear-gradient(-45deg, rgba(138,58,206,1) 0%, rgba(195,92,147,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(138,58,206,1) 0%,rgba(195,92,147,1) 100%);
	background: linear-gradient(135deg, rgba(138,58,206,1) 0%,rgba(195,92,147,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a3ace', endColorstr='#c35c93',GradientType=1 );
}

// Wrappers padding
@wrapper-padding: 20px;

// Footer computed height
@footer-computed-height: 159px;
@footer-computed-height-md: 119px;

// Z Indexes

@userBtnZIndex: 99999;
@loginZIndex: 9999;
@hamZIndex: 99999;
@menuZIndex: 9999;
@overlayZIndex: 999;
@navbarZIndex: 99;
@preloaderZIndex: 999999;
@modalZIndex: 9999999;

// Block transition
@block-transition-duration: 600ms; 
@block-transition-easing: ease-in-out; 

// Transition main
@transition-duration: 250ms;
@transition-ease: ease-in-out;

// GRid gutter
@grid-gutter-md: 8px;

// Modal
@modal-content-slide-duration: 0.3s;




