.select2-selection--multiple {
  background-color: #f7f7f7;
  cursor: text;
  min-height: 47px;
  vertical-align: middle;

  &::-webkit-scrollbar {
    display: none;
  }

  .appearance(none);
  .small-shade;
  .radius(4px);

  .select2-selection__rendered {
    list-style: none;
    margin-bottom: -5px;
    padding: 0 9px;
  }

  .select2-selection__clear {
    display: none;
  }

  .select2-selection__choice {
    background-color: #e8e7e8;
    padding: 5px;
    font-size: 16px;
    cursor: default;
    display: inline-block;
    float: left;
    margin-right: 9px;
    margin-top: 9px;
    color: #847f7f;
    .radius(3px);
  }

  .select2-selection__choice__remove {
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
    color: #847f7f;
    float: right;
  }
}

&[dir="rtl"] {
  .select2-selection--multiple {
    .select2-selection__choice {
      float: right;
    }

    .select2-selection__choice {
      margin-left: 5px;
      margin-right: auto;
    }

    .select2-selection__choice__remove {
      margin-left: 2px;
      margin-right: auto;
    }
  }
}

&.select2-container--open {
  &.select2-container--above {
    .select2-selection--multiple {
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &.select2-container--below {
    .select2-selection--multiple {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
