/*
| 
| Easily center blocks with these utility classes
|------------------------------------------------
| 
| Examples: <div class="centered">I'm centered Horizontally and Vertically :D</div>
|			<div class="centered-x">I'm centered Horizontally :<)</div>
|			<div class="centered-y">I'm centered Vertically :)</div>
|
*/

.centered{
    left: 50%;
    top: 50%;
    .translate(-50%, -50%);
}

.centered-y{
    top: 50%;
    .translateY(-50%);
}

.centered-x{
    left: 50%;
    .translateX(-50%);
}
