/*
| 
| Clearfix floats with this awesome utility class
|------------------------------------------------
| 
| Examples: <div class="clear">Dummy content</div>
|
*/

.clear, .clear:after {
    *zoom: 1;
    
    &:before, &:after{
      content: "";
      display: table;
    }

    &:after{
      clear: both;
    }
}