// BG COLOR \\

.bg-light-gray{
	background-color: #f2f0f0 !important;
}

.bg-gray{
	background-color: #847f7f !important;
}

.bg-white{
	background-color: #fff !important;
}

.bg-purple{
	background-color: @brand-purple !important;
}

.bg-yellow{
	background-color: @brand-yellow !important;
}

// COLOR \\

.cl-gray{
	color: #847f7f !important;
}

.cl-white{
	color: #fff !important;
}

.cl-purple{
	color: @brand-purple !important;
}

.cl-yellow{
	color: @brand-yellow !important;
}