/*
| 
| Easily float elements with these utility classes
|-------------------------------------------------
| 
| Examples: <div class="left">Dummy content</div>
|			<div class="left">Another dummy content</div>
|
*/

.left{ 
	float: left; 
}

.right{ 
	float: right; 
}