.fs-18{
	font-size: 18px !important;
}

.fs-20{
	font-size: 20px !important;
}

.fs-24{
	font-size: 24px !important;
}

.fs-30{
	font-size: 30px !important;
}

.fs-32{
	font-size: 32px !important;
}

.fs-36{
	font-size: 36px !important;
}