/*
|
| Small useful utility class to make images adaptive
| --------------------------------------------------
|
| Example: <img class="img-responsive">
|
*/


.img-responsive{
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}