/*
 * Fill this file with 
 * fast padding and margin classes
 */

@layout-padding-y: 50px;

.p-x-0{
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.p-b-0{
	padding-bottom: 0 !important;
}

.p-y-layout{
	padding-top: @layout-padding-y !important;
	padding-bottom: @layout-padding-y !important;
}

.p-b-layout{
	padding-bottom: @layout-padding-y !important;
}

.p-t-layout{
	padding-top: @layout-padding-y !important;
}

.p-t-nav-sticked{
	padding-top: 90px !important;
}

.p-b-20{
	padding-bottom: 20px !important;
}

.p-b-10{
	padding-bottom: 10px !important;
}

.m-b-20{
	margin-bottom: 20px !important; 
}

.m-t-20{
	margin-top: 20px !important; 
}

.p-t-20{
	padding-top: 20px !important;
}

.p-y-15{
	padding-top: 15px;
	padding-bottom: 15px;
}

.m-b-25{
	margin-bottom: 25px !important;
}

.m-x-0{
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.m-b-0{
	margin-bottom: 0 !important;
}

.p-r-5{
	padding-right: 5px !important;
}

.p-l-15{
	padding-left: 15px !important;
}

.p-b-5{
	padding-bottom: 5px !important;
}

.m-r-5{
	margin-right: 5px !important;
}

.m-l-10{
	margin-left: 10px !important;
}

.m-l-5{
	margin-left: 5px !important;
}

.p-t-0{
	padding-top: 0 !important;
}

.p-y-15{
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

.input-padding{
	padding-top: @input-padding;
	padding-bottom: @input-padding;
}

@media(max-width: @screen-md){
	@layout-padding-y: 30px;

	.p-y-layout{
		padding-top: @layout-padding-y !important;
		padding-bottom: @layout-padding-y !important;
	}

	.p-b-layout{
		padding-bottom: @layout-padding-y !important;
	}

	.p-t-layout{
		padding-top: @layout-padding-y !important;
	}
}