/*
| 
| Easily align text with these utility classes
|---------------------------------------------
| 
| Examples: <div class="text-center">Dummy content</div>
|			<div class="text-left">Another dummy content</div>
|			<div class="text-right">Common.. third dummy content? :D</div>
|
*/

.text-center{ 
	text-align: center; 
}

.text-left{ 
	text-align: left; 
}

.text-right{ 
	text-align: right; 
}

@media(min-width: @screen-xl){
	.text-xl-right{ 
		text-align: right; 
	}
}

@media(min-width: @screen-lg){
	.text-lg-right{ 
		text-align: right; 
	}
}

@media(min-width: @screen-md){
	.text-md-right{ 
		text-align: right; 
	}
}

@media(min-width: @screen-sm){
	.text-sm-right{ 
		text-align: right; 
	}
}