/*
| 
| Easily make elements height & width 100% of viewport with these
| awesome utility classes.
|-------------------------
| 
| Examples: <div class="w-100">Hey I'm 100% width of the window :)</div>
|			<div class="h-100">Hey I'm 100% height of the window :D</div>
|
*/

.w-100{ 
	width: 100%; 
}

.h-100{
	height: 100%;
}